<div class="container">
  <div class="row">
    {{!-- <div class="col-sm-12 col-md-4" >

    </div> --}}
    <div class="col-sm-12 col-md-12" style="margin-top: 200px">
      <h1 id="charge-thanks">{{thanks}}</h1><br>
      <h2>Do not press the back button or navigate away from this page!</h2>
    </div>  
    <div class="col-sm-12 col-md-12">
      
        <p class="lead" style="text-align: center">It's time to import your genetic data from 23andMe. Please have your 23andMe login credentials ready. </p>
        <a href="/tools/genetic" type="submit" class="btn btn-primary" id="main-btn-go-to-connect23"> <span class="glyphicon glyphicon-arrow-right icon-arrow"> </span>       GO</a>
    </div>
  </div>
</div>