<div class="row">

<div class="col-lg-2">

</div>
<div style="margin-top: 100px; background-color: whitesmoke" class="col-lg-8">
<h2 id="terms-h2">CesarCells Consent Language</h2>
Thank you for using our website.

<p class="lead">I understand that my click on the "I Agree" checkbox constitutes my consent and is the legal equivalent of my manual signature. I also understand that I am not required to provide my consent as a condition of purchasing any goods or services. I understand my consent may be withdrawn at any time. Click here for a printer friendly version of this text.</p>

<h1>Authorization</h1>

<p class="lead">By clicking on the "I Agree" checkbox, I authorize CesarCells.com to release the information I have provided to companies that provide products and services related to C ("Cell Companies"), and authorize CesarCells.com and Cell Companies to contact me including via telephone, email, pre-recorded message or text, even if I am listed on any federal, state, association, or company Do Not Call or email opt out registry. The purpose of this authorization to release my personal health information is to (i) facilitate the review by Cell Companies of certain aspects of my condition to determine if I am a candidate for treatments, products and services related to my condition; and (ii) consent to the Cell Companies’ contact by phone, mail, email or otherwise regarding  products and/or services which may be helpful in monitoring my condition.</p>

<p class="lead">I also authorize CesarCells.com and Cell Companies, to text or call me at the phone number I've provided for educational and marketing purposes.</p>

<h1>Disclosure Authorization</h1>



<p class="lead"><strong>By clicking on the "I Agree" checkbox:</strong> I am indicating my understanding, acknowledgement and consent to the use of my personal and/or my protected health information by CesarCells.com and Cell Companies, that is being provided to CesarCells.com by me, including my name, email and phone number.</p>

<p class="lead">I authorize CesarCells.com and Cell Companies to use my personal and/or my protected health information for the sole purpose of contacting me with respect to products and/or services related to , and that such information may no longer be protected by federal regulation regarding privacy of health information for educational and marketing purposes.</p>

<p class="lead">I acknowledge and agree that CesarCells.com may receive money or other financial benefit from the use of my personal and/or protected health information in its marketing and sales efforts.</p>
<p class="lead">I understand and accept that the Companies, to which my personal and/or protected health information may be provided, may pay CesarCells.com for this information and that I may be contacted in any manner as previously mentioned.</p>
<p class="lead">I understand and acknowledge that the Cell Companies, to which my personal and/or protected health information may be provided, might further disclose my personal and/or protected health information, and that such information may no longer be protected by federal regulation regarding privacy of health information, but that CesarCells.com will use its best efforts to restrict that further disclosure. </p>
<p class="lead">I may revoke this authorization at any time by contacting support in the contact box in the Personal Details section of CesarCells.com. By doing so, my authorization will be revoked until such time as I reauthorize CesarCells.com to use my personal and/or protected health information, if ever. If in the event of such revocation, CesarCells.com agrees it will no longer use any of my personal and/or protected health information in any future sales and marketing efforts. CesarCells.com will notify Cell Companies to not contact you.</p>


</div>
<div class="col-lg-2">

</div>
</div>

