<div class="row">

<div class="col-lg-2">

</div>
<div style="margin-top: 100px; background-color: whitesmoke" class="col-lg-8">
<h2>CesarCells Consent Language</h2>
Electronic Signature

<p style="line-height: 2">I understand that my click on the "I Agree" checkbox constitutes my consent and is the legal equivalent of my manual signature. I also understand that I am not required to provide my consent as a condition of purchasing any goods or services. I understand my consent may be withdrawn at any time. Click here for a printer friendly version of this text.

Authorization

By clicking on the "I Agree" checkbox, I authorize CesarCells.com to release the information I have provided to companies that provide products and services related to C ("Cell Companies"), and authorize CesarCells.com and Cell Companies to contact me including via telephone, email, pre-recorded message or text, even if I am listed on any federal, state, association, or company Do Not Call or email opt out registry. The purpose of this authorization to release my personal health information is to (i) facilitate the review by Cell Companies of certain aspects of my condition to determine if I am a candidate for at home, self- d products and services related to my condition; and (ii) consent to the Cell Companies’ contact by phone, mail, email or otherwise regarding  products and/or services which may be helpful in monitoring my condition.

I also authorize CesarCells.com and Cell Companies,, to text or call me at the phone number I've provided for educational and marketing purposes.

Disclosure Authorization

By clicking on the "I Agree" checkbox:

I am indicating my understanding, acknowledgement and consent to the use of my personal and/or my protected health information by CesarCells.com and Cell Companies, that is being provided to CesarCells.com by me, including my name, email and phone number.

I authorize CesarCells.com and Cell Companies to use my personal and/or my protected health information for the sole purpose of contacting me with respect to products and/or services related to , and that such information may no longer be protected by federal regulation regarding privacy of health information for educational and marketing purposes;
I acknowledge and agree that CesarCells.com may receive money or other financial benefit from the use of my personal and/or protected health information in its marketing and sales efforts;
I understand and accept that the Companies, to which my personal and/or protected health information may be provided, may pay CesarCells.com for this information and that I may be contacted in any manner as previously mentioned;
I understand and acknowledge that the Cell Companies, to which my personal and/or protected health information may be provided, might further disclose my personal and/or protected health information, and that such information may no longer be protected by federal regulation regarding privacy of health information, but that CesarCells.com will use its best efforts to restrict that further disclosure;
I may revoke this authorization at any time by unchecking the "I Agree" checkbox in the Personal Details section of CesarCells.com. By doing so, my authorization will be revoked until such time as I reauthorize CesarCells.com to use my personal and/or protected health information, if ever. If in the event of such revocation, CesarCells.com agrees it will no longer use any of my personal and/or protected health information in any future sales and marketing efforts. CesarCells.com will notify Cell Companies to not contact you.</p>

<p>I. Introduction.  Doctor on Demand, Inc. (“Doctor on Demand”, “we”, “us”, or “our”) operates the website located at www.doctorondemand.com and other related websites and mobile applications with links to this Privacy Policy (collectively, the “Site”).  Through the Site, we operate an online service enabling members (“Members”) to receive telehealth services from  various healthcare providers (the “Services”).  We developed this privacy policy (“Privacy Policy”) to explain how we collect, use, and disclose information from and/or about you when you use the Site or the Services.  
THE SITE WILL BE COLLECTING AND TRANSMITTING PERSONAL, MEDICAL AND HEALTH-RELATED INFORMATION ABOUT YOU.   BY USING THE SITE, YOU AGREE THAT WE CAN COLLECT AND USE YOUR PERSONAL AND OTHER INFORMATION AS DESCRIBED IN THIS PRIVACY POLICY.   IF YOU DO NOT AGREE, PLEASE DO NOT USE THE SITE.
Important Definitions.  When we use the term “Personal Information” in this Privacy Policy, we mean information about you that is personally identifiable to you, such as your contact information (e.g., name, address, email address, or telephone number), personally identifiable health or medical information (“Health Information”), and any other non-public information that is associated with such information (collectively, “Personal Information”).  When we use the term “De-Identified Information”, we mean information that is neither used nor intended to be used to personally identify an individual.  Lastly, when we use the term “Cookies”, we mean the small pieces of information that a Site sends to your browser while you are viewing a website.  
Questions.  If you have questions or concerns about this Privacy Policy, please contact us by sending an email to support@doctorondemand.com.  
HIPAA.   Our privacy practices are intended to comply with the Health Insurance Portability and Accountability Act ("HIPAA").  We will maintain the privacy of your Health Information as required by HIPAA and the regulations promulgated under that Act. We encourage you to review our Notice of Privacy Practices, which describes how health we  may use and disclose your Health Information.
Children under age 18.  We do not knowingly allow individuals under the age 18 to create Accounts that allow access to our Site.
The Personal information we collect or maintain may include:
Your name, age, email address, username,  password, and other registration information  
Health Information that you provide us, which may include information or records relating to your medical or health history, health status and laboratory testing results, diagnostic images, and other health related information
Health information about you prepared by the health care provider(s) who provide the Services through the Site  such as medical records, treatment and examination notes, and other health related information
Billing information that you provide us, such as credit card information  
Information about the computer or mobile device you are using, such as what Internet browser you use, the kind of computer or mobile device you use, and other information about how you use the Site  
Other information you input into the Site or related services
We may use your Personal Information for the following purposes (subject to applicable legal restrictions):
To provide you with the Services
To improve the quality of healthcare through the performance of quality reviews and similar activities
To create De-identified Information such as aggregate statistics relating to the use of the Service
To notify you when Site updates are available,
To market and promote the Site and the Services
To fulfill any other purpose for which you provide us Personal Information  
For any other purpose for which you give us authorization  
 
We may also disclose Personal Information that we collect or you provide (subject to applicable legal restrictions):
 
To our subsidiaries and affiliates.
To contractors, service providers and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.
As required by law, which can include providing information as required by a court order.
When we believe in good faith that disclosure is necessary to protect your safety or the safety of others, to protect our rights, to investigate fraud, or to respond to a government request.
To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some or all of  Doctor on Demand’s assets, whether as a going concern or as part of bankruptcy, liquidation or similar proceeding, in which Personal Information maintained by the Site is among the assets transferred.
For any other purpose disclosed by us when you provide the information.
Information We Collect via Technology. As you use the Site or the Service, certain information may be passively collected by Cookies, navigational data like Uniform Resource Locators (URLs) and third party tracking services, including:
Site Activity Information.  We may keep track of some of the actions you take on the Site, such as the content of searches you perform on the Site.
Access Device and Browser Information.  When you access the Site from a computer or other device, we may collect anonymous information from that device, such as your Internet protocol address, browser type, connection speed and access times (collectively, “Anonymous Information”).
Cookies.  We may use both session Cookies (which expire once you close your web browser) and persistent Cookies to make the Site and Service easier to use, to make our advertising better, and to protect both you and Doctor on Demand.  You can instruct your browser, by changing its options, to stop accepting Cookies or to prompt you before accepting a Cookie from the websites you visit. If you do not accept Cookies, however, you will not be able to stay logged in to the Site.   We presently do not honor  "Do Not Track" requests across all part of our Site.  
Real-Time Location.  Certain features of the Site use GPS technology to collect real-time information about the location of your device so that the Site can connect you to a health care provider who is licensed or authorized to provide services in the state where you are located.
Mobile Services.  We may also collect non-personal information from your mobile device or computer.   This information is generally used to help us deliver the most relevant information to you. Examples of information that may be collected and used include how you use the application(s) and and information about the type of device or computer you use.  In addition, in the event our application(s) crashes on your mobile device we will receive information about your mobile device model software version and device carrier, which allows us to identify and fix bugs and otherwise improve the performance of our application(s).  
Google Analytics.  We use Google Analytics to help analyze how users use the Site.  Google Analytics uses Cookies to collect information such as how often users visit the Site, what pages they visit, and what other sites they used prior to coming to the Site. We use the information we get from Google Analytics only to improve our Site and Services. Google Analytics collects only the IP address assigned to you on the date you visit the Site, rather than your name or other personally identifying information.  Although Google Analytics plants a persistent Cookie on your web browser to identify you as a unique user the next time you visit the Site, the Cookie cannot be used by anyone but Google.  Google’s ability to use and share information collected by Google Analytics about your visits to the Site is restricted by the Google Analytics Terms of Use and the Google Privacy Policy.  
De-Identified Information.  We may use De-Identified Information created by us without restriction.    
Information You Share With Third Parties  This Privacy Policy applies only to information we collect through the Site and in email, text and other electronic communications set through or in connection with the Site.  This policy DOES NOT  apply to information collected by any third party.  When you click on links on the Site you may leave our site. We are not responsible for the privacy practices of other sites, and we encourage you to read their privacy statements.
Modification of Information.  Members  will be able to update some of their information through the Site.  Requests to modify any information may also be submitted directly to support@doctorondemand.com. 
Limitations on Deletion of Information.  You may request deletion of your Personal Information by us, but please note that we may be required (by law or otherwise) to keep this information and not delete it (or to keep this information for a certain time, in which case we will comply with your deletion request only after we have fulfilled such requirements). When we delete Personal Information, it will be deleted from the active database, but may remain in our archives and we may also retain Anonymous Information about your use of our Service.  Once we disclose some of your Personal Information to third parties, we may not be able to access that Personal Information any longer and cannot force the deletion or modification of any such information by the parties to whom we have made those disclosures.  After we delete Personal Information, we will retain De-Identified Data and will continue to use De-Identified Data as permitted under this Privacy Policy.
Steps we take to keep your information secure. We employ reasonable physical, electronic and managerial security methods to help protect against unauthorized access to Personal Information, such as encryption.    But  please be aware that no data transmission over the Internet or data storage facility can be guaranteed to be perfectly secure.  As a result, while we try to protect your Personal Information, we cannot ensure or guarantee the security of any information you transmit to us, and you do so at your own risk.  
Report Violations. You should report any security violations to us by sending an email to support@doctorondemand.com.
Changes to this Privacy Policy.  We may change this Privacy Policy from time to time in the future.  We will post any revised version of the Privacy Policy on this page.  Continued use of our Service following notice of such changes will indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.  By using the  Site, you are agreeing to our collection, use and disposal of Personal Information and other data as described in this Privacy Policy, both as it exists now and as it is changed from time to time.
</p>
</div>
<div class="col-lg-2">

</div>
</div>

