 <div class="jumbotron">
   <h1></h1>
 </div>
 <div class="row">
 </div>
 <div class="row all-trials">
    <div class="col-md-2 trials-first-row">
        <div class="inner">
           <div class="icon">
                <div class="icon-inner">
                    <a href="/tools/start-health-assessment" target="_blank" class="website"><img src="images/icons/icon-ai.svg" class="icon"></a>
                </div> 
           </div> 
           <div class="name">
            <a href="/tools/start-health-assessment" target="_blank" class="website">Stargardts</a>
            <div class="date">Tue Jul 12</div>
           </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                    <a href="http://ai.camp" target="_blank" class="website"><img src="images/icons/icon-ai.svg" class="icon"></a>
                </div> 
            </div>
            <div class="name">
             <a href="http://ai.camp" target="_blank" class="website">Stargardts</a>
             <div class="date">Tue Jul 12</div>
            </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                    <a href="http://ai.camp" target="_blank" class="website"><img src="images/icons/icon-ai.svg" class="icon"></a>
                </div> 
            </div>
            <div class="name">
             <a href="http://ai.camp" target="_blank" class="website">Stargardts</a>
             <div class="date">Tue Jul 12</div>
            </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                    <a href="http://ai.camp" target="_blank" class="website"><img src="images/icons/icon-ai.svg" class="icon"></a>
                </div> 
            </div>
            <div class="name">
             <a href="http://ai.camp" target="_blank" class="website">Stargardts</a>
             <div class="date">Tue Jul 12</div>
            </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                    <a href="http://ai.camp" target="_blank" class="website"><img src="images/icons/icon-ai.svg" class="icon"></a>
                </div> 
            </div>
            <div class="name">
             <a href="http://ai.camp" target="_blank" class="website">Stargardts</a>
             <div class="date">Tue Jul 12</div>
            </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                    <a href="http://ai.camp" target="_blank" class="website"><img src="images/icons/icon-ai.svg" class="icon"></a>
                </div> 
            </div>
            <div class="name">
             <a href="http://ai.camp" target="_blank" class="website">Stargardts</a>
             <div class="date">Tue Jul 12</div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-2 trials-first-row">
        <div class="inner">
            <div class="icon">
                <div class="icon-inner">
                
                </div> 
            </div>
        </div>
    </div>
  
</div>
