<div class="jumbotron-gene-data">
  <h1 class="main-h1">Connect with 23andMe</h1>
</div>
<br>
<br>

{{!-- <a href="https://api.23andme.com/authorize/?redirect_uri=http://localhost:3000/receive_code/&response_type=code&client_id=dd6b7f51cb19ee4bd93bfe59438f7956&scope=basic rs3094315"><img src="/assets/images/23andMe.png"/> </a> --}}

{{#each genotypes}}
<h1 style="margin-top: 200px">{{genotypes}}</h1>
{{/each}}

<a href="/auth"><img src="/assets/images/23andMe.png"/> </a>


