<div class="container">
  <div class="row">

    <div class="col-lg-12" id="gene-approval-form">
    <h2 id="login-h2">Before you may use CESARCELLS to retrieve information about the human genome, you must read and agree to the following statements. Please read each statement and check the box next to each one and then click 'I Agree'.</h2>        

    <form class="form-horizontal form-I-agree-23" action="/tools/agree-gene-data" method="POST">
      <div class="form-group">
       <div class="checkbox">
         <label><input type="checkbox" value="agree" name="agree" required="true">I understand that the information provided in my CESARCELLS report is based on SNPedia.com and that my report is for educational and research purposes only.</label>
       </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox" value="agree" name="agree" required="true">I understand that my report is deleted after 45 days but that I can download it before it is deleted.</label>
        </div>
      </div>
     <div class="form-group">
       <div class="checkbox">
         <label><input type="checkbox" value="agree" name="agree" required="true">I realize that most published reports about DNA variations explain only a small part of the heritability of a trait, and they also don't take into account how different variants might interact. In addition, published reports typically ignore environmental, dietary, microbial, medical history and lifestyle factors, any or all of which may well affect my true risk for any trait or disease.</label>
       </div>
     </div>
     <div class="form-group">
       <div class="checkbox">
         <label><input type="checkbox" value="agree" name="agree" required="true">I am aware that I am strongly encouraged to discuss my CESARCELLS report with a doctor, genetic counselor or other health-care provider prior to making any medical or reproductive decisions. I also acknowledge that I am advised to confirm any significant finding discovered in part through the use of CESARCELLS by an independent, clinically validated test for use in connection with the medical trait in question.</label>
       </div>
     </div>
     <div class="form-group">
       <div class="checkbox">
         <label><input type="checkbox" value="agree" name="agree" required="true">I have read and understand the Privacy Policy and the Legal Terms and Conditions of this website. I agree to these conditions.</label>
       </div>
     </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="I-Agree-to-23" type="submit" class="btn btn-default">I Agree</button><br>
    
        </div>
      </div>
    </form>

    </div>
</div>