<div class="jumbotron-gene-data">
  <h1 class="connect23-h1">Connect with 23andMe</h1>
</div>
<br>
<br>

<div class="container">


  {{#if info}}
  <div class="alert alert-info" style="margin-top: 100px">{{info}}</div>
  {{/if}}

 

  {{#if agreed}}
  <div class="alert alert-info" style="margin-top: 100px">{{agreed}}</div>
  {{/if}}

  {{#each genotypes}}
  <h1 style="margin-top: 200px">{{genotypes}}</h1>
  {{/each}}
  <div class="row">
    <div class="col-md-12" id="wrap-23-btn">
      <a id="twothree-btn" href="/auth"><img src="/assets/images/23andMe.png"/> </a>
    </div>
  </div>
</div>


