<div class="row" id="start-panel-begin">
  <div class="col-md-6 col-md-offset-3">
  <h2>Your Gene Data Is Processed</h2>
      <div class="form-group">
        <div class="panel panel-default">
          <div class="panel-body">
          <p class="lead">
          Review your data.

         

          </p>
        </div>
      </div>
    </div>
    <a href="/tools/my-genetics" class="btn btn-default">GO</a>
</div>