  <div class="row" id="start-panel-head">
    <div class="col-md-12">SEE IF YOU QUALIFY FOR A STARGARDTS TRIAL
      <img>
    </div>
  </div>

  <div class="row" id="start-panel-begin">
    <div class="col-md-12">Begin Assessment
      <form method="get" action="/tools/stemcell-assessment">
        <div class="form-group">
          
        
        </div>
            <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
