  <div class="jumbotron">
     <h1></h1>
   </div>

  <div class="row" id="start-panel-head">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">
        <div class="panel-body">
        <h2>Retinal Disease Assessment</h2>
        </div>
    </div>
      <img>
    </div>
  </div>

  <div class="row" id="start-panel-begin">
    <div class="col-md-6 col-md-offset-3">
    <h2>YOU CAN ONLY TAKE THE ASSESSMENT ONCE</h2>
    {{!-- <a href="/indexOne.html">GO</a> --}}
        <div class="form-group">
          <div class="panel panel-default">
            <div class="panel-body">
            <p class="lead">
            Make sure you have enough time to complete the entire assessment.  The average time to complete this assessment is 2-5 minutes. By answering the questions in this assessment you will be able to match with life changing clinical trials. 

            </p>
          </div>
        </div>
  
      <a href="/indexOne.html" id="lets-go" class="btn btn-default">LET'S GO</a>
  </div>
</div>
