<div class="page-header">
  <h1 id="assessment-header">Stargardts Disease Clinical Trial Assessment</h1>
</div>
<div class="container-fluid bg-info">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="col-xs-3 col-xs-offset-5">
            <div id="loadbar" style="display: none;">
              <div class="blockG" id="rotateG_01"></div>
              <div class="blockG" id="rotateG_02"></div>
              <div class="blockG" id="rotateG_03"></div>
              <div class="blockG" id="rotateG_04"></div>
              <div class="blockG" id="rotateG_05"></div>
              <div class="blockG" id="rotateG_06"></div>
              <div class="blockG" id="rotateG_07"></div>
              <div class="blockG" id="rotateG_08"></div>
            </div>
          </div>
          <form id="quiz-form" method="post" action="">
            <div class="quiz" id="quiz" data-toggle="buttons">
              <div class="modal-header">
                  <h3> Do you have a clinical diagnosis of typical autosomal recessive Stargardt macular dystrophy?</h3>
              </div>
                <label class="element-animation1 btn btn-lg btn-primary btn-block">
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                  <input type="radio" name="q1_answer" value="Yes">    Yes
                </label>
                <label class="element-animation2 btn btn-lg btn-primary btn-block">
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> 
                  <input type="radio" name="q1_answer" value="No">    No
                </label>
            </div>
          </form>
        </div>
      <div class="modal-footer text-muted">
        <span id="answer"></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="caption">
      <h3>Thumbnail label</h3>
      <p></p>
      <p class="text-center">%</p>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="caption">
      <h3>Thumbnail label</h3>
      <p></p>
      <p class="text-center">%</p>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
  <div class="caption">
    <h3>Thumbnail label</h3>
    <p></p>
    <p class="text-center">%</p>
  </div>  </div>
  <div class="col-xs-6 col-md-3">
  <div class="caption">
    <h3>Thumbnail label</h3>
    <p></p>
    <p class="text-center">%</p>
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
  <div class="caption">
    <h3>Thumbnail label</h3>
    <p></p>
    <p class="text-center">%</p>
  </div>
  </div>
  <div class="col-xs-6 col-md-3">
  <div class="caption">
    <h3>Thumbnail label</h3>
    <p></p>
    <p class="text-center">%</p>
  </div>
  </div>
  <div class="col-xs-6 col-md-3">
  <div class="caption">
    <h3>Thumbnail label</h3>
    <p></p>
    <p class="text-center">%</p>
  </div>
  </div>
  <div class="col-xs-6 col-md-3">
  <div class="caption">
    <h3>Thumbnail label</h3>
    <p></p>
    <p class="text-center">%</p>
  </div>
  </div>
</div>
