<div class="panel panel-default">
  <div class="panel-footer"> 
  
  </div>
  <a target="_blank" href="#">Privacy Policy</a> and <a target="_blank" href="#">Terms and Conditions.</a> 
  <a href="www.vincentjporta.com">Built By Vincent</a>
</div>