<div class="panel panel-default">
  <div class="panel-footer"> 
    <a href="/contact_us/contact" class="links-footer">Contact Us</a><br>
    <a target="_blank" class="links-footer" href="/accounts/privacy-home">Privacy Policy & Terms and Conditions</a> 
  
  </div>
</div>