<div class="panel panel-default">
  <div class="panel-body"></div>
  <div class="panel-footer">Designed by  <a href="www.vincentjporta.com">vincentjporta.com</a>
  <a target="_blank" href="#">Privacy Policy</a> and <a target="_blank" href="#">Terms and Conditions.</a> 
  </div>
</div>