<div class="container">  
<div class="container">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"><i class="fa fa-audio-description" aria-hidden="true">Highlight Text To Enable Speech</i></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="cesar-logo" href="/"><img src="/assets/images/cesarcells.jpg" style="height: 40px; width: 75px; margin-bottom: 50px; background-color: tranparent"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            
            <li class="dropdown">
              <a href="#" id="resources-nav-text" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources & Support <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="/whats-stargardts-disease">What is Stargardts?</a></li>
                <li><a href="/stargardts-clinical-trials">What to expect during a clinical trial?</a></li>
                <li><a href="/stargardts-assistive-technologies">Assistive Technologies</a></li>
                <li><a href="/stargardts-glossary">Glossary</a></li>
                {{!-- <li role="separator" class="divider"></li>
                <li><a href="/stargardts-stemcell-story">Inspiring story of Cesar</a></li> --}}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" id="resources-nav-text" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="/contact_us/contact">Contact</a></li>
                <li><a href="/about_us/aboutus">Company</a></li>
                
              </ul>
            </li>
            <li class="dropdown">
             <A href="/#how-it-work-main" id="howitworks-nav-text" class="navbar-link" role="button">How it works</A>
            </li>
            <li class="dropdown">
              <A href="/#tools-main" id="tools-nav-text" class="navbar-link" role="button">Tools</A>
            </li>
            <li class="dropdown">
              <A href="/#treatments-main" id="treatments-nav-text" class="navbar-link" role="button">Clinical Trials</A>

            </li>
            
        </ul>
        <ul class="nav navbar-nav" style="float: right">
          <li class="text-right">
            <a href="/users/sign-in" id="login-nav-text" class="navbar-link" data-toggle="" role="button" aria-haspopup="true" aria-expanded="false">LOGIN</a><i class="fa fa-sign-in" aria-hidden="true"></i>

          </li>
          <li class="">
            <a href="/users/sign_up" id="signup-nav-text">SIGNUP</a>
          </li>
        </ul>
    </div>
    </nav>
  </div>
</div>