<form method="get" action=" " class="" id="" name="">
  <div class="row">
    <div class="col-xs-5">
      <div class="form-group">
        <select id="gmap_type" class="c-select" data-live-search="true" data-width="400px" style="height: 80px; font-size: 30px">
          <option selected>Choose a Disease</option>
           <option data-tokens="Stargardts Disease">Stargardts Disease</option>
           <option data-tokens="Glaucoma">Glaucoma</option>
           <option data-tokens="Retinitis Pigmentosa">Retinitis Pigmentosa</option>
           <option data-tokens="Age Related Macular Degeneration">Age Related Macular Degeneration</option>
        </select> 
      </div>
    </div>
    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder="Zipcode" id="gmap_where" type="text" name="gmap_where" style="height: 80px; font-size: 30px; margin-left: 10px">
    </div>
    <div class="col-xs-3">
      <div class="input-group">
      <button type="submit" class="btn btn-default" style="height: 80px; width: 160px; font-size: 30px">Submit</button>
      </div>
    </div>
  </div>
</form>