<div class="container">
        <div class="container-search">
                <ul class="nav navbar-nav navbar-right">
                    <button id="search-btn" class="btn btn-primary btn-lg active"><li><a href="#search" id="search-ahref">Search</a></li></button>
                </ul>
        </div>
</div>


<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="Example: Stargardts Disease" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>