<div class="container">
<div class="row">
    <div class="col-lg-12 instructions-parents">
        <div class="panel panel-default">
          <div class="panel-body">Instructions for parents or guardians looking for study information for a patient under 18 years of age.
            <p class="lead">
If you are a parent or guardian looking for study information for children under the age of 18 years old, please complete this form with your Personal and Contact information. You will be contacted by the institution/clinic you selected.</p>
          </div>
        </div>
      </div>
</div>
<div class="row">
    <div class="col-lg-12 wrap-trial-form">
        
            <form action="/clinical-trials/contact/four" method="post" class="form-horizontal trial-contact-forms">
                {{!-- <h2 class="title-trials"> <br><strong>TRIAL NAME: {{data.trials.4.name}}</strong></h2> --}}
                <h2> <br>Status: {{data.trials.4.status}}</h2>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Subject: </label>
                    <div class="col-md-8">
                        <input type="text" name="subject" placeholder="Your Subject">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name: </label>
                    <div class="col-md-8">
                        <input type="text" name="name" placeholder="Your Name">
                    </div>
                </div>
                <div class="form-group">
                <label class="col-sm-2 control-label">Email: </label>
                    <div class="col-md-8">
                        <input type="email" name="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="comments">Comments:</label>
                  <div class="col-md-12">
                    <textarea rows="4" cols="40" id="comments" name="usercomment" placeholder="Your Message ..."></textarea>
                  </div>
                </div>

                <label><input type="checkbox" name="agreecontact" checked="checked" required="true" /> Please check to confirm that you are over the age of 18.</label><br>

                <label><input type="checkbox" name="agreecontact" checked="checked" required="true" /> I Agree To Be Contacted By This Clinic</label><br />
                <label>
                <input type="checkbox" name="agreequalified" checked="checked" required="true" /> I Have Qualified For This Trial</label><br />
                <input type="submit" value="Submit" id="contact-trial-btn" />
            </form>             
        
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body">
            <p class="lead">Note: By registering at this site, you agree to be contacted by the study site that you 
  selected. By clicking submit, the information you provided will be governed by our 
  privacy policy. For important information about how your personal information will be 
  used by CESARCELLS, view our terms and conditions, which includes our privacy policy.</p>
          </div>
          </div>
          
        <span class="glyphicon glyphicon-star" aria-hidden="true">     Trials are derived from: <img src="/assets/images/clintrial.png" width="50%" style="-webkit-filter: grayscale(100%); filter: grayscale(100%); padding: 50px;"></span>
  </div>
</div> {{!Row ends}}
</div>
