<div class="jumbotron-glossary">
    <span>
        
        <h1 class="main-h1"> ASSISTIVE TECHNOLOGIES </h1>
     
    </span>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Assistive Technology for Age-related Macular Degeneration </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Technological advances make it possible for people with low vision to live and work in a world geared for people with normal vision. Here are some of the categories of technology a low-vision specialist will describe in more detail. </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    
    <h2 class="glossary-h2"> Eyeglasses with high-powered lenses</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">
    A good pair of eyeglasses maximizes whatever vision a person has. The obvious benefits can include high magnification and telescopic lenses. But there are subtler possibilities too: to reduce glare, to build high color contrast, to reposition images where they are part of the visual field. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-8">
    
    <h2 class="glossary-h2"> Large-print reading materials</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">
    Accessible publishing offers books with large font sizes. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-8">
      <h2 class="glossary-h2"> Clocks and phones </h2>

      <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">
      Large numbers, contrast colors, and talk functions make these clocks and phones easier to use.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
      <h2 class="glossary-h2"> Closed circuit television magnifiers </h2>

      <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">
      A CCTV magnifier is a combination of a camera and a TV screen. The camera, which offers varying amounts of magnification, is pointed at an object such as a book or handwork project. The magnified image of the object is sent to the screen of the television so that a person with low-vision can use the screen to work in real time on the object.</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
      <h2 class="glossary-h2"> Hand-held and desk-top magnifiers </h2>

      <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">
      Low-vision magnifiers come in a huge range of strengths, to light and magnify objects such as books or projects. Features can include a contrasting color option (which make an image easier to see) and capturing an image, so the image can be moved to the best part of a person's visual field. Magnifiers come free standing or connected to computer systems.</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
      <h2 class="glossary-h2"> Telescopic devices </h2>

      <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">
      These lenses bring faraway objects, such as writing on a blackboard, visually closer. Some are small enough to be mounted on eyeglasses. Some are connected to computers so the object can be viewed on the screen.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
      <h2 class="glossary-h2"> Reading devices </h2>

      <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">
     This term covers an array of devices which convert written text and into read-aloud speech. Some are connected to computers, some are free-standing and portable.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
      <h2 class="glossary-h2"> Computer software </h2>

      <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">
    Software programs can be installed on a person's computer to magnify the screen or convert text -- such as emails or the internet -- into speech.</p>
  </div>
</div>


