<div class="jumbotron-clinical-trial">
        
        <h1 class="main-h1"> Clinical Trials 
        </h1> 
        
        <h1 style="text-align: center; color: white"> Find out more info below </h1>
            
    <div class="col-md-6">
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <section class="intro-clinics" class="">
        <header class="what-is-header">
          <h2 class="what-is-h2">What are Clinical Trials?</h2>
        </header>
        <p>
        Clinical trials are the final clinical research phase necessary for the Food and Drug Administration (FDA) to approve a treatment for use in humans. The clinical testing of experimental drugs is normally done in three phases, each successive phase involving a larger number of people.
        </p><br><br>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="intro-clinics" class="">
        <header class="what-is-header">
          <h2 class="what-is-h2">PHASE 1</h2>
        </header>
        <p>
        Phase I studies are primarily concerned with assessing the drug's safety and establishing a maximum tolerated dose for the drug. This initial phase of testing in humans is done in a very small number of volunteers. Sometimes, healthy adults without disease are tested. Other times, patients with end-stage disease are tested. <br><br> 
        For example, in initial phase I trials testing the safety of retinal cell transplantation, patients who were already blind were tested so as not risk the loss of existing vision in patients who still had even very little visual function.
        </p><br><br>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="intro-clinics" class="">
        <header class="what-is-header">
          <h2 class="what-is-h2">PHASE 2</h2>
        </header>
        <p>
        Phase II studies are initiated once a drug is found to be safe. In a Phase II study, the effectiveness of a given drug or treatment is evaluated. The duration of a phase II study depends greatly on the nature of the treatment being tested and the specific disease. <br><br> 
        Phase II studies can involve large numbers of patients with several medical centers around the country participating in the trial.
        </p><br><br>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="intro-clinics" class="">
        <header class="what-is-header">
          <h2 class="what-is-h2">PHASE 3</h2>
        </header>
        <p>
        Phase III studies allow investigators to better gauge the effectiveness and side effects of a drug in a large population of diverse patients. The large-scale testing provides the pharmaceutical company and the FDA with a more thorough understanding of the drug's effectiveness, benefits, and range of possible adverse reactions.<br><br> 
        In addition, Phase III studies are useful in comparing the new treatment against existing standard treatments.
        </p><br><br>
      </section>
    </div>
  </div>
</div>
