<div class="jumbotron-glossary">
    
        
        <h1 class="main-h1"> GLOSSARY 
        <p class="what-is-sci"><strong></strong></p>
            {{!-- <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn" style="width: 400px; height: 60px; padding: 18px">CLICK TO LEARN MORE</a> --}}
        </h1> 
        
        
 
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <ul class="shortcuts">
  <li>JUMP TO:</li>
  <li><a class="glossary-a" href="#A" title="Terms beginning with A">A</a></li>
  <li><a class="glossary-a" href="#B" title="Terms beginning with B">B</a></li>
  <li><a class="glossary-a" href="#C" title="Terms beginning with C">C</a></li>
  <li><a class="glossary-a" href="#D" title="Terms beginning with D">D</a></li>
  <li><a class="glossary-a" href="#E" title="Terms beginning with E">E</a></li>
  <li><a class="glossary-a" href="#F" title="Terms beginning with F">F</a></li>
  <li><a class="glossary-a" href="#G" title="Terms beginning with G">G</a></li>
  <li><a class="glossary-a" href="#H" title="Terms beginning with H">H</a></li>
  <li><a class="glossary-a" href="#I" title="Terms beginning with I">I</a></li>
  <li><a class="glossary-a" href="#J" title="Terms beginning with J">J</a></li>
  <li><a class="glossary-a" href="#K" title="Terms beginning with K">K</a></li>
  <li><a class="glossary-a" href="#L" title="Terms beginning with L">L</a></li>
  <li><a class="glossary-a" href="#M" title="Terms beginning with M">M</a></li>
  <li><a class="glossary-a" href="#N" title="Terms beginning with N">N</a></li>
  <li><a class="glossary-a" href="#O" title="Terms beginning with O">O</a></li>
  <li><a class="glossary-a" href="#P" title="Terms beginning with P">P</a></li>
  <li><a class="glossary-a" href="#Q" title="Terms beginning with Q">Q</a></li>
  <li><a class="glossary-a" href="#R" title="Terms beginning with R">R</a></li>
  <li><a class="glossary-a" href="#S" title="Terms beginning with S">S</a></li>
  <li><a class="glossary-a" href="#T" title="Terms beginning with T">T</a></li>
  <li><a class="glossary-a" href="#U" title="Terms beginning with U">U</a></li>
  <li><a class="glossary-a" href="#V" title="Terms beginning with V">V</a></li>
  <li><a class="glossary-a" href="#W" title="Terms beginning with W">W</a></li>
  <li><a class="glossary-a" href="#X" title="Terms beginning with X">X</a></li>
  <li><a class="glossary-a" href="#Y" title="Terms beginning with Y">Y</a></li>
  <li><a class="glossary-a" href="#Z" title="Terms beginning with Z">Z</a></li>
  </ul>
  <div class="col-md-12">
  <a name="A"></a>
    <h2 class="glossary-h2"> Achromatopsia </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Achromatopsia is a type of cone dystrophy where there are normally problems only with vision from cone photoreceptors, the ones responsible for color and day vision and visual acuity. </p>
  </div>


</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Adult Stem Cell </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A self-renewing, unspecialized cell that is capable of becoming any one of a number of more specialized cells.
    A stem cell is a primitive, unspecialized cell that has the capacity to self-regenerate, but develops a highly specialized function when grown in the appropriate environment and treated with specific proteins or survival factors. In other words, it's a cell that "hasn't decided what it wants to be when it grows up." Stem cells in the human retina have been found in the ciliary body, a specialized structure that sits on either side of the iris, near the retina. These ciliary stem cells usually lie dormant in the adult. Stem cells have now been isolated by many scientific groups and are being evaluated as a potential source for replacement of RPE and photoreceptor cells. There are many different types of stem cells, including adult and embryonic stem cells. Adult stem cells are from mature tissue that can renew itself but has a limited ability to transform into specialized cell types (i.e., fewer cell options). Embryonic stem cells, being from early stages of development, have the theoretical potential to produce any kind of cell in the body. </p>
  </div>

</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Age-Related Eye Disease Study </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">AREDS was a clinical study sponsored by the Federal government's National Eye Institute that determined a specific nutritional supplementation regimen for slowing progress of vision loss in individuals with AMD. The AREDS supplementation is: Antioxidants (500 mg Vitamin C, 400 IU Vitamin E, 15 mg Beta-carotene) and Minerals (80 mg Zinc Oxide, 2mg Copper). Another study-AREDS II, started in October 2006-is designed to test modified minor adjustments to the original supplement combinations (e.g., removing beta-carotene from the formulation, lowering zinc), along with different dosages of lutein, zeaxanthin and/or omega-3 fatty acids. If you use nutritional supplementation, please consult with your personal physician and ophthalmologist as your personal health situation may require monitoring or a non-typical approach and nutritional supplements may interfere with prescribed medicines. </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Age-Related Macular Degeneration </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Age-related macular degeneration (AMD) is a retinal degenerative disease that causes a progressive loss of central vision. AMD is the most common cause of vision loss in individuals over 55. An estimated 10 million people in the U.S. either have AMD or are at substantial risk of developing it. </p>
  </div>


</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Angiogenesis </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The growth of new blood vessels. When growing in places they shouldn't, they can cause disease, such as wet age-related macular degeneration (AMD). Angiogenesis refers to the growth of new blood vessels. When uncontrolled, angiogenesis can cause destruction of the retina due to leakage of blood. </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Antioxidant </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A nutritional supplement (like vitamins C or E), drug, or naturally occurring product that protects cells from damage induced by light, stress or metabolic processes (called oxidation). Antioxidants are also prevalent in foods, such as vegetables and fruits. </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Apoptosis or Programmed Cell Death </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A controlled process for cell death, triggered by a signal or biochemical reaction, in response to an accumulation of cellular damage.. </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> AREDS (Age-Related Eye Disease Study) </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">AREDS was a clinical study sponsored by the Federal government's National Eye Institute that determined a specific nutritional supplementation regimen for slowing progress of vision loss in individuals with AMD. The AREDS supplementation is: Antioxidants (500 mg Vitamin C, 400 IU Vitamin E, 15 mg Beta-carotene) and Minerals (80 mg Zinc Oxide, 2mg Copper). </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Autosomal Dominant Disease </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Disease caused when an individual inherits a disease-causing mutation in one copy of a gene pair. </p>
</div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Autosomal Recessive Disease </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Disease caused when an individual inherits a mutation(s) that may not cause disease unless both copies of a gene pair are mutated. </p>
  </div>

</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Autosome </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Any chromosome within the 22 pairs of non-sex (not X or Y) chromosomes inherited by every individual from their biological parents.
    An autosome is a chromosome (or DNA package) that does not play a primary role in determining a person's sex (i.e., not an X or Y chromosome). Autosomal recessive and autosomal dominant diseases are caused by mutations in genes that reside on one of the 22 paired autosomes. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="B"></a>
  <div class="col-md-12">
    <h2 class="glossary-h2"> Bardet-Biedl Syndrome (BBS) </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Bardet-Biedl syndrome is a complex disorder that affects many parts of the body including the retina. Individuals with BBS have a retinal degeneration similar to retinitis pigmentosa (RP). </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Best Disease </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Best disease is an inherited form of juvenile macular degeneration characterized by a loss of central vision.. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Beta-carotene </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A nutritional pigment (and antioxidant) that can be used in the visual cycle of the eye. It is responsible for the orange color of carrots and other fruits and vegetables. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Bruch's membrane </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The blood-retina barrier that separates the retina from the rest of the body, that is often broken in individuals with wet AMD.
    The Bruch's membrane is the blood-retina barrier that separates the RPE cells of the retina from the choroid. This membrane is structurally similar to the blood-brain barrier, because the retina is an extension of the brain. A rupture of this barrier can cause diseases, like AMD, where the choroid blood vessels grow abnormally into the retina and cause damage, ultimately affecting vision. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="C"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2"> Carotenoids </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Tetraterpenoid organic pigments that are naturally occurring in the chloroplasts and chromoplasts of plants and some other photosynthetic organisms like algae, some bacteria, and some types of fungus.
    Carotenoids can be synthesized fats and other basic organic metabolic building blocks by all these organisms. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Cell Based Therapy </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Using cell transplants or stem cells to treat a retinal degenerative disease.
      Cell-Based Therapy (CBT) is one of the Foundation's seven research priority areas. Scientists and clinicians are testing treatments for retinal degenerative diseases with stem cell and retinal transplants. This therapy has the potential to treat all retinal degenerative diseases, even in those people who have completely lost all photoreceptor and/or RPE cells. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Cell</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The smallest building-block of a living being that is capable of functioning on its own.
A cell is the smallest biological unit of specialized function capable of self-replication. A cell consists of an outer membrane (like a porous plastic bag), which encases the fluid of the cell, and the nucleus (a specialized compartment that contains the DNA and directs the production of proteins). Conversion of many cells (of either the same or different functions) at the same spot in the body can form an organ with specialized purposes, like the retina, liver or brain. </p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Cellular and Molecular Mechanisms of Disease (CMM)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Cellular and Molecular Mechanisms of Disease (CMM) is one of the Foundation's seven research priority areas. Scientists and clinicians are determining how mutations in each identified gene cause retinal degenerative disease and specifically what goes wrong in the cells of the eye as a result of this mutation. The resulting knowledge is being used to create effective, directed treatments. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Central Nervous System</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The "central command system" of the body, it includes the brain, spine and retina.
The central nervous system (CNS) is the "central command system" of the body, and includes the brain, spine and retina. Every nerve outside of the blood-brain and blood-retina barriers is considered part of the peripheral nervous system. Since the retina is part of the CNS, it is possible that treatments for other neurodegenerative diseases of the CNS (like Lou Gehrig's disease or Alzheimer's disease) could work for retinal degenerative diseases. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Choroideremia</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Choroideremia is a rare inherited disorder that causes progressive loss of vision due to degeneration of the choroid and retina. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Chromosome</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A "package" of DNA that holds the genetic code to life. In humans, each non-sex cell has 23 pairs of chromosomes. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Cilia (singular, Cilium)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Cilia are very small, hair-like structures that are found in or on many specialized cell types (for example, photoreceptors and ear, kidney, and lung cells). A mutation in a gene whose protein helps maintain the structure of these "hairs" can cause diseases with symptoms in one or more affected body systems, creating a syndrome. For example, some Usher syndromes involve vision and hearing problems, caused by altered cilia proteins found in both photoreceptors and ear cochlear cells. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Ciliary Body</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A ring of tissue that contains muscles and "fibers" that adjust lens thickness to focus light on the retina, so that we can see. In addition, it produces fluid to provide nutrients and take away waste from the lens and cornea, thus helping to control eye pressure. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cone Cell </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A type of photoreceptor, it detects light and is responsible for providing fine detail, daylight and color vision. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cone Dystrophy </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Achromatopsia </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cone-Rod Dystrophy </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Cone-rod dystrophy results from a primary loss of cone photoreceptors, followed by loss of rods.</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Congenital Stationary Night Blindness (CSNB) </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">An inherited eye disorder that is not progressive ("stationary") and principally affects the rod photoreceptors in the retina, impairing night vision.
There may also be moderate to high myopia (short sightedness). The disorder is usually diagnosed by electroretinogram.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Copper </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A nutritional mineral that is required for proper functioning and maintenance of the body.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cornea </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The clear dome or "window" that covers the front of the eye, it provides a large part of the focusing ability of the eye.
    The cornea is the clear dome that covers the front of the eye. It starts to focus light onto the lens. If the eye is like a camera, consider the cornea to be like a UV (ultraviolet) filter screwed onto the end of the camera lens. This is the part of the eye that undergoes vision-correcting LASIK surgery.</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cortical implant </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">An implant into the part of the brain that interprets vision signals that come from the retina. Connecting this implant with a vision aide, like camera-glasses, may be a way to return vision to those who are blind.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">CSNB </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Congenital Stationary Night Blindness</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="D"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">DHA (docosahexaenoic acid) </h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A healthy, highly unsaturated fatty acid (a type of omega-3 fatty acid) that is found in foods (e.g., tuna, salmon) and dietary supplements, implicated in photoreceptor function.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> DNA (deoxyribonucleic acid)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The chemical "blueprint" for life. Genes are made of DNA and gene mutations can cause diseases.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Dominant</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Autosomal Dominant Disease
.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Drusen</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Yellow-white retinal deposits thought to include proteins, pigments and fats. Dry AMD or juvenile macular degeneration may occur when drusen become too large or numerous and collect around the macula.
.</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="E"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2"> Embryonic Stem Cell</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Stem Cell
.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="F"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2"> FDA</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Acronym for the Food and Drug Administration, a branch of the United States (US) Department of Health and Human Services.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> FFB</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Acronym for Foundation Fighting Blindness.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Free Radical</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A highly reactive chemical or nutritional breakdown product that can cause damage to a cell or tissue.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="G"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">GA</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Gyrate Atrophy or Geographic Atrophy and Age-related Macular Degeneration


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">GE</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Genetics


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Gene</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A unit of inheritance, encoded by DNA. If there's a mutation in a gene, this may cause a disease.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Gene Mapping</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Identifying a region of a chromosome that is responsible for causing a disease (or causing some known function), but not yet identifying the exact gene.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Gene Therapy (GT)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A therapeutic process that replaces or turns off the "bad" or mutated disease-causing gene and restores some level of normal protein function.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">
Genetic Testing (also called Genotyping)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Generally, is defined as determining the genetic make-up of an individual; specifically, is looking for the gene(s) that cause an individual's retinal degenerative disease.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Genetics (GE)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Generally, it is defined as the study of inheritance; specifically, it is the determination of genes linked with causing retinal degenerative diseases.
Genetics (GE) is one of the Foundation's seven research priority areas. Scientists and clinicians are looking for new genes linked to retinal degenerative diseases. It is thought that over half of retinal degenerative disease-causing genes have already been identified.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Geographic Atrophy (GA)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Geographic atrophy may be considered the end stage of dry age-related macular degeneration (AMD), causing severe vision loss. Over time, sometimes over many years, the atrophy of the RPE cells (due to drusen deposits in the retina) gets more prevalent with all of the macula being affected.
Geographic atrophy looks like a circle or spot of degeneration, right in the center. Also see Age-related Macular Degeneration.


  </div>
</div>



<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Gyrate Atrophy (GA)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Gyrate atrophy is an autosomal recessively inherited disorder, which is due to a lack of the protein enzyme ornithine keto-acid aminotransferase (OAT), resulting in an increased blood serum level of ornithine (hyperornithinemia).
The symptoms are progressive "night blindness" and peripheral vision loss.


  </div>
</div>
 

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="H"></a>
<a name="I"></a>


  <div class="col-md-12">
    <h2 class="glossary-h2">Inner Segment</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The part of a photoreceptor cell that is closest to the front of the eye and is thought to channel light to the outer segment, where the visual cycle takes place.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Iris</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The colored "ring" that regulates the amount of light that's admitted into the eye.
An iris is the colored "ring" surrounding the pupil that regulates the amount of light that is admitted into the eye. If the eye is like a camera, consider the iris to be like an aperture.


  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="J"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Juvenile Macular Degeneration
</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Best Disease; Stargardt Disease


  </div>
</div>



<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="K"></a>
<a name="L"></a>


  <div class="col-md-12">
    <h2 class="glossary-h2">Lancelot
</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A Briard dog born blind with a mutation in the RPE65 gene that caused a dog-form of the human retinal degenerative disease called Leber congenital amaurosis (LCA). Lancelot has been treated with gene therapy and can now see.
As reported in the scientific journal, Nature Genetics, in 2001, researchers injected into one of Lancelot's eyes a "good" copy of the RPE65 gene that corrected his vision in that one eye. Since Lancelot's treatment, over 50 dogs have been treated in a similar manner and can now see. Three human clinical trials based upon this research began in 2007.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Leber Congenital Amaurosis (LCA)
</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Leber congenital amaurosis (LCA) is an inherited retinal degenerative disease characterized by severe loss of vision at birth. A variety of other eye-related abnormalities including roving eye movements, deep-set eyes, and sensitivity to bright light also occur with this disease. Some patients with LCA also experience central nervous system abnormalities.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Lens</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The transparent part of the eye that focuses light onto the retina, so that we can see. The lens is an oval-shaped, clear (transparent) part of the eye behind the cornea and iris that focuses incoming light onto the retina. If the eye is like a camera, consider the eye lens to be like a camera lens.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Locus (plural, Loci)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A locus is the chromosomal "neighborhood" where a gene (a "house") resides; specifically, a potential disease-causing gene.
A locus is a location in one part of a chromosome where a particular gene(s) might reside, like a "house" (gene) might reside in a "neighborhood" (locus). Scientists who are looking for genes associated with retinal degenerative diseases call it a locus until they definitively prove that one (or more) gene(s) in this region cause(s) that disease.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Lucentis®</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A blood vessel growth-blocking drug approved by the FDA in June 2006 for treatment of wet AMD.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Lutein and Zeaxanthin</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Nutrient pigments chemically related to beta-carotene that are abundant in green leafy vegetables and yellow and orange-colored fruits and vegetables. These are the only two known food pigments that collect in the macula, where they are thought to protect it from light damage (blue light).


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="M"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Macugen®</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">An anti-VEGF drug approved by the FDA in 2004 for treatment of wet AMD.
Macula
The center of the retina that has a concentration of cone photoreceptor cells and is responsible for fine detail, day and color vision.
The macula is the central portion of the retina. The macula contains a dense concentration of cone photoreceptor cells that help us to see fine visual detail (see Visual Acuity), daylight and color vision. Only primates (including humans and monkeys) have a macula in their retina.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Messenger RNA (mRNA)
</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The processed gene "messenger" (derived from DNA) that is the template for making proteins. Also, see RNA.
Messenger RNA (mRNA) is the gene messenger that results from the transfer of genetic information from DNA into RNA. Often the orginal mRNA requires processing (i.e., cutting and "re-glueing") into a shorter mRNA template for production of the final, proper protein.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Metabolic process
</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A series of pathways the body uses, both to break down nutrients into simple energy packets and to create building blocks that then build-up cell components and help the body to function.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Mutation
</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A change or "spelling mistake" in the DNA of a gene that can cause a disease (but sometimes does not cause disease).


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="N"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">NEI
</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Acronym for the National Eye Institute, a part of the research-funding government organization, the United States (US) National Institutes of Health.
Neuroprotective Therapy (NP)
Delivering a protein or drug to the eye that prevents the photoreceptors and/or RPE cells from dying, thus saving vision.


  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Nucleus
</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The specialized compartment within a cell that houses the DNA.
The nucleus is the specialized compartment within a cell that houses the DNA, packaged as chromosomes. The nucleus is also the location where RNA (messenger RNA) is made from genes and transported out of the nucleus to serve as a template for protein production.


  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Nutritional and Environmental Therapy (NE)

</h2>

    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A clinically-tested nutritional supplement or lifestyle change that has been proven to slow or stop the loss of vision in a retinal degenerative disease.




  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Nystagmus</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Nystagmus is a constant, rapid and involuntary oscillation of the eyes - one of the symptoms that can be experienced by individuals who have a retinal degenerative disease, like Leber congenital amaurosis.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="O"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Omega-3 fatty acid</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A type of fat that is important for cell function. Also, see DHA.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Optic Nerve</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The bundle of nerve cells, or "cable," that transmits signals from the retina to the visual processing center of the brain.
The optic nerve is the "cable" that receives the light detection signals from other retinal cells (photoreceptors initially detect the photons of light) and transports them to the part of the brain called the visual cortex where they are processed. A person doesn't actually "see" until their visual cortex processes the signals. If the eye is a digital camera, consider this to be like the cable used to download the images from the camera onto a computer.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Outer Segment</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The part of the photoreceptor cell that is directly adjacent to RPE cells, near the back of the retina, and is responsible for the conversion of light into electrical signals, via the visual cycle.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Oxidative Stress/Oxidation</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Oxidation is the interaction between oxygen molecules and all the different substances they may contact. Oxidative Stress can occur when there's an imbalance and a biological system can't readily detoxify or easily repair the resulting damage, thereby promoting development of a retinal degenerative disease).
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="P"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Peripheral Nervous System</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Nerves that are not part of the brain, spinal cord or retina, normally found in the extremities (e.g., arms, legs).
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Phagocytosis</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The process by which cells engulf materials (e.g., bacteria, dead cells) that are eventually killed, destroyed or digested. The outer segment tips of photoreceptor cells are phagocytosed every day by RPE cells.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Phenotype</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Physical symptoms of a retinal degenerative disease that can be clinically defined. Each phenotype is normally associated with a particular genotype (see Genetic Testing).
A phenotype consists of the observable characteristics or clinical symptoms present in an individual with a particular retinal degenerative disease. Scientists are attempting to correlate the phenotype with the genotype for every retinal degenerative disease.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Photodynamic Therapy
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A therapy for the wet form of AMD that involves using a drug and a "cold" laser to destroy new, unwanted blood vessels.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Phototransduction
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The process of detecting light and converting it to an electrical signal that is then relayed to the brain via the optic nerve.
Phototransduction is also called the visual cycle. It is the cascade of biochemical reactions involved in detecting light and converting it to an electrical signal that is relayed to the brain via the optic nerve. Both photoreceptors and RPE cells are essential for this process. Problems with proteins involved in phototransduction are responsible for causing certain retinal degenerative diseases.
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Proof of Principle
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The first measurable evidence that an experimental theory or therapy works.
A proof of principle is a scientific confirmation that a previously unproven idea or experimental therapy actually works (for instance, a drug produces a therapeutic effect in an animal model(s)). Proof of principle provides the first measurable evidence that an experimental therapy might also work in humans.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="Q"></a>
<a name="R"></a>


  <div class="col-md-12">
    <h2 class="glossary-h2">Recessive
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Autosomal Recessive Disease
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Retina</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Thin layer of light-detecting cells at the back of the eye, similar to the film or digital sensor found in a camera.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Retinal Chip (also called Artificial Retina)
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A light-detecting computer chip, designed to mimic basic photoreceptor cell light-detection function, that is implanted into the retina.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Retinal Pigment Epithelium (RPE)

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A very thin cell layer found directly beneath the photoreceptor cells. RPE cells bring nutrients and oxygen to the photoreceptor cells, and supplies, recycles, and detoxifies products involved with the phototransduction process.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Retinal Prosthetic

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">An implantable device that electrically stimulates the retina with information that it receives from a secondary light detection device (i.e., camera glasses).
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Retinal Transplantation


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Injecting a layer of cells (already composed of photoreceptor and/or RPE cells) into the retina to replace dying cells.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Retinal Vessels</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The vessels found on top of the retina at the back of the eye that look like "tree branches" when viewed by an ophthalmologist during an eye exam.
Retinal vessels are the vessels found on top of the retina at the back of the eye that look like "tree branches" when viewed by an ophthalmologist during an eye exam. These vessels become damaged and leaky during eye diseases like diabetic retinopathy, retinopathy of prematurity and other diseases.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Retinitis Pigmentosa (RP)</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Retinitis pigmentosa (RP) refers to a group of inherited diseases causing retinal degeneration. The most common feature of all forms of RP is a gradual breakdown of rods and cones.
Most forms of RP first cause the breakdown of rod cells. These forms of RP, sometimes called rod-cone dystrophy, usually begin with night blindness. RP is typically diagnosed in adolescents and young adults. It is a progressive disorder. The rate of progression and degree of visual loss varies from person to person. RP can be inherited in a dominant, recessive or X-linked fashion.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Retinoschisis (also known as X-Linked Retinoschisis; XLRS)
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Retinoschisis is vision loss due to the splitting of retinal layers and retinal deterioration due to a mutation in the retinoschisin (RS1) gene.
The RS1 protein is thought to act like a "glue" to hold together the retina. RS1 is an X-linked gene, where it is normally males who show symptoms of this disease. In addition to visible degeneration of the retina, the electroretinogram (ERG) is a negative (b-wave more reduced than a-wave).
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Rhodopsin
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A light-detecting component (a visual pigment) of rod photoreceptor cells composed of a protein called opsin that is chemically linked to a processed fragment of vitamin A.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Ribozyme Therapy

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A form of gene therapy that reduces the amount of "bad" gene product ("bad" RNA) to allow "good" protein to be made from good, non-mutated RNA.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">RNA

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A family of gene products whose most common member, messenger RNA (mRNA), isused as a template for making protein.
"Messenger" RNA (mRNA) is derived directly from a gene and becomes the template for making a protein. Scientists and clinicians are currently testing approaches that target mRNA in many treatments for retinal degenerative diseases.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">RNAi Therapy


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A treatment method that destroys "bad" RNA to get rid of "bad" disease-causing protein.

  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Rod Cell


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A photoreceptor cell responsible for black and white, night and peripheral (side) vision.
A rod cell is a rod-shaped photoreceptor cell that is located throughout the retina but is more common outside of the central macular region of the retina (i.e., is found in the periphery of the retina). The rod cell is particularly important for black and white, night and peripheral (side) vision. In many forms of RP, rod cell loss leads to what is sometimes referred to as "tunnel vision."

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Rod-Cone Dystrophy/Degeneration


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Rod-cone dystrophy results from a primary loss of rod photoreceptors, followed by loss of cones.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="S"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Sclera


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The tough, outer, protective shell of the eye.
The sclera, also called the "white of the eye" is the tough outer protective shell of the eye. If the eye is like a camera, consider the sclera to be like the camera body.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Sex Chromosomes


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The chromosomes inherited from both parents that contain the genetic material that determines the sex of an individual. X-linked diseases are caused by mutations of genes on the X chromosome.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Stargardt Disease
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Stargardt disease is the most common form of inherited juvenile macular degeneration. The progressive vision loss associated with Stargardt disease is caused by the death of photoreceptor cells in the central portion of the retina called the macula.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Stem Cell

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A self-renewing, unspecialized cell that is capabile of becoming any one of a number of more specialized cells.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Strabismus

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A misalignment of the eyes (pointing in and/or out). This situation may be due to eye muscle problems.
A misalignment of the eyes in which each eye, simultaneously can point in a different direction. Crossed eyes (esotropia) are one type of strabismus; "wall-eyes" (exotropia) are another. The exact cause is unknown, but it appears to be a problem with the eye muscles. Strabismus can affect depth perception.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Survival Factors/Proteins


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Also see Neuroprotective Therapy. Proteins, or drugs, that promote the health and survival of nerve cells, including photoreceptors.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="T"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Trans Fats


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Unhealthy types of fat that may increase the risk of developing AMD.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="U"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Ultraviolet (UV) light
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A radiant component of sunlight, invisible to the eye, that is characterized by short wavelengths and high energy. It will damage the retina (as well as the skin) with lengthy, unprotected exposure. If you use nutritional supplementation, please consult with your personal physician and ophthalmologist as your personal health situation may require monitoring or a non-typical approach and nutritional supplements may interfere with prescribed medicines.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Unsaturated Fatty Acid:

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">There are many different types of this dietary fat - some have been linked to positive health effects (see DHA; docosahexaenoic acid) and others have been linked to a risk of developing cardiovascular disease and AMD (see Trans Fats).
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Usher Syndrome

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">Usher syndrome is an inherited condition characterized by hearing impairment and progressive vision loss. Balance may also be affected. Symptoms vary from person to person and progress at different rates.
There are at least three different forms of Usher syndrome. People with Usher syndrome type 1 (USH1) are born completely deaf and experience problems with balance. The first signs of RP - night blindness and loss of peripheral vision - usually appear in early adolescence.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="V"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Vector

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The "vehicle" or carrier for delivering genes or genetic information into the cell, particularly useful for gene therapy.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">VEGF (Vascular Endothelial Growth Factor)

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A class of proteins that causes new blood vessel growth (angiogenesis) and maintains the natural "leakiness" inherent in vessels. These are normal body functions, which, if they happen where they shouldn't (such as in the retina), can cause disease, such as AMD.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Verteporforin®

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Photodynamic Therapy
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Visual Acuity

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A measure of the ability to distinguish fine visual details.
Visual acuity is the clarity of vision held by an individual and is measured as a fraction of normal vision: 20/20 vision indicates an eye that sees at 20 feet what a normal, "standard" eye should see at 20 feet; 20/400 vision indicates an eye that sees at 20 feet what a normal eye sees at 400 feet. Usually measured with a letter chart (Snellen), it can also be measured using pictures, black and white lines or visual evoked potentials.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Visual Cycle

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Phototransduction
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Visual Field


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The entire area that the eye can see from side to side without physically moving the eyes or head (includes peripheral vision).
The portion of the environment that the eye sees, on fixed forward gaze, includes the entire field of vision (central and peripheral) and is measured by a perimetry test. The normal field of vision is about 140 degrees for each eye (monocular vision) and about 180 degrees for both eyes (binocular vision).
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Visudyne®


</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Photodynamic Therapy

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Vitamin A (Vitamin A Palmitate)



</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see also Beta-carotene, Rhodopsin: Vitamin A is found in certain animal and milk products, fruits and vegetables (and as a commercial supplement) that is used as part of a nutritional treatment of RP.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Vitamin C (Ascorbic Acid)</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">An anti-oxidant found in certain fruits and vegetables (and as a commercial supplement) that is used as part of a nutritional treatment of AMD.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Vitamin E</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">An anti-oxidant found in certain oils, nuts, and other foods (and as a commercial supplement) that is also used as part of a nutritional treatment of AMD.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Vitreous</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The clear, jelly-like substance found in the middle of the eye that helps to regulate eye pressure and shape.
The vitreous is the clear, jelly-like substance found in the middle of the eye that helps to regulate eye pressure and shape. Light must pass through the vitreous to fall upon the retina, so it must be as transparent as possible to avoid vision distortion or disruption.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="W"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Wavelength</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A measure of the character of light, where certain wavelength ranges define and distinguish different "types" of light. The photoreceptor cell detects and chemically converts light of certain wavelengths within the visible range (between 400-700 nanometers or nm) into electrical signals that travel, via the optic nerve, to the visual cortex in the brain.
  </div>
</div>



<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="X"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">X Chromosome</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The inherited package (or chromosome) of DNA that contains genes that help to determine the sex of an individual. Two X chromosomes are inherited by females and one X chromosome and one Y chromosome are inherited by males. Mutation of a gene found on the X chromosome can cause X-linked diseases.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">X-Linked Retinoschisis (XLRS)
</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">see Retinoschisis

  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="Y"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Y Chromosome

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">The chromosome (DNA package) passed-down from biological father to son that contains genes that determine male gender.
The Y chromosome is the sex chromosome passed-down from biological father to son that contains genetic instructions that give men their gender (and other body characteristics). Males inherit one Y chromosome from their father and one X chromosome from their mother, and are therefore normally symptomatic if they have an X-linked disease. So far, there are no known retinal degenerative diseases linked to the Y chromosome. </p>
  
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
<a name="Z"></a>

  <div class="col-md-12">
    <h2 class="glossary-h2">Zinc

</h2>
    <p class="lead" style="line-height: 2; font-size: 40px; margin-right: 40px">A mineral that is required for nutrition and proper function and maintenance of the body. Zinc oxide (80 mg) is one component of the daily nutritional supplementation for treatment to prevent progression of vision loss in AMD (findings from AREDS clinical trial). Zinc oxide is also being tested in a new nutritional supplement formulation for the AREDS II clinical trial. If you use nutritional supplementation, please consult with your personal physician and ophthalmologist as your personal health situation may require monitoring.


  </div>
</div>
