<div class="jumbotron-glossary">
    <span>
        
        <h1 class="main-h1"> GLOSSARY 
        <p class="what-is-sci"><strong></strong></p>
            <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn" style="width: 200px; height: 60px; padding: 18px">CLICK TO LEARN MORE</a>
        </h1> 
        
        
    </span>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Achromatopsia </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Achromatopsia is a type of cone dystrophy where there are normally problems only with vision from cone photoreceptors, the ones responsible for color and day vision and visual acuity. </p>
  </div>


</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Adult Stem Cell </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">A self-renewing, unspecialized cell that is capabile of becoming any one of a number of more specialized cells.
    A stem cell is a primitive, unspecialized cell that has the capacity to self-regenerate, but develops a highly specialized function when grown in the appropriate environment and treated with specific proteins or survival factors. In other words, it's a cell that "hasn't decided what it wants to be when it grows up." Stem cells in the human retina have been found in the ciliary body, a specialized structure that sits on either side of the iris, near the retina. These ciliary stem cells usually lie dormant in the adult. Stem cells have now been isolated by many scientific groups and are being evaluated as a potential source for replacement of RPE and photoreceptor cells. There are many different types of stem cells, including adult and embryonic stem cells. Adult stem cells are from mature tissue that can renew itself but has a limited ability to transform into specialized cell types (i.e., fewer cell options). Embryonic stem cells, being from early stages of development, have the theoretical potential to produce any kind of cell in the body. </p>
  </div>

</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Age-Related Eye Disease Study </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">AREDS was a clinical study sponsored by the Federal government's National Eye Institute that determined a specific nutritional supplementation regimen for slowing progress of vision loss in individuals with AMD. The AREDS supplementation is: Antioxidants (500 mg Vitamin C, 400 IU Vitamin E, 15 mg Beta-carotene) and Minerals (80 mg Zinc Oxide, 2mg Copper). Another study-AREDS II, started in October 2006-is designed to test modified minor adjustments to the original supplement combinations (e.g., removing beta-carotene from the formulation, lowering zinc), along with different dosages of lutein, zeaxanthin and/or omega-3 fatty acids. If you use nutritional supplementation, please consult with your personal physician and ophthalmologist as your personal health situation may require monitoring or a non-typical approach and nutritional supplements may interfere with prescribed medicines. </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Age-Related Macular Degeneration </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Age-related macular degeneration (AMD) is a retinal degenerative disease that causes a progressive loss of central vision. AMD is the most common cause of vision loss in individuals over 55. An estimated 10 million people in the U.S. either have AMD or are at substantial risk of developing it. </p>
  </div>


</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Angiogenesis </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">The growth of new blood vessels. When growing in places they shouldn't, they can cause disease, such as wet age-related macular degeneration (AMD). Angiogenesis refers to the growth of new blood vessels. When uncontrolled, angiogenesis can cause destruction of the retina due to leakage of blood. </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Antioxidant </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">A nutritional supplement (like vitamins C or E), drug, or naturally occurring product that protects cells from damage induced by light, stress or metabolic processes (called oxidation). Antioxidants are also prevalent in foods, such as vegetables and fruits. </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Apoptosis or Programmed Cell Death </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">A controlled process for cell death, triggered by a signal or biochemical reaction, in response to an accumulation of cellular damage.. </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> AREDS (Age-Related Eye Disease Study) </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">AREDS was a clinical study sponsored by the Federal government's National Eye Institute that determined a specific nutritional supplementation regimen for slowing progress of vision loss in individuals with AMD. The AREDS supplementation is: Antioxidants (500 mg Vitamin C, 400 IU Vitamin E, 15 mg Beta-carotene) and Minerals (80 mg Zinc Oxide, 2mg Copper). </p>
  </div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Autosomal Dominant Disease </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Disease caused when an individual inherits a disease-causing mutation in one copy of a gene pair. </p>
</div>


</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  
  <div class="col-md-12">
    <h2 class="glossary-h2"> Autosomal Recessive Disease </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Disease caused when an individual inherits a mutation(s) that may not cause disease unless both copies of a gene pair are mutated. </p>
  </div>

</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Autosome </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Any chromosome within the 22 pairs of non-sex (not X or Y) chromosomes inherited by every individual from their biological parents.
    An autosome is a chromosome (or DNA package) that does not play a primary role in determining a person's sex (i.e., not an X or Y chromosome). Autosomal recessive and autosomal dominant diseases are caused by mutations in genes that reside on one of the 22 paired autosomes. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Bardet-Biedl Syndrome (BBS) </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Bardet-Biedl syndrome is a complex disorder that affects many parts of the body including the retina. Individuals with BBS have a retinal degeneration similar to retinitis pigmentosa (RP). </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Best Disease </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Best disease is an inherited form of juvenile macular degeneration characterized by a loss of central vision.. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Beta-carotene </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">A nutritional pigment (and antioxidant) that can be used in the visual cycle of the eye. It is responsible for the orange color of carrots and other fruits and vegetables. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Bruch's membrane </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">The blood-retina barrier that separates the retina from the rest of the body, that is often broken in individuals with wet AMD.
    The Bruch's membrane is the blood-retina barrier that separates the RPE cells of the retina from the choroid. This membrane is structurally similar to the blood-brain barrier, because the retina is an extension of the brain. A rupture of this barrier can cause diseases, like AMD, where the choroid blood vessels grow abnormally into the retina and cause damage, ultimately affecting vision. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Carotenoids </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Tetraterpenoid organic pigments that are naturally occurring in the chloroplasts and chromoplasts of plants and some other photosynthetic organisms like algae, some bacteria, and some types of fungus.
    Carotenoids can be synthesized fats and other basic organic metabolic building blocks by all these organisms. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Cell Based Therapy </h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Using cell transplants or stem cells to treat a retinal degenerative disease.
      Cell-Based Therapy (CBT) is one of the Foundation's seven research priority areas. Scientists and clinicians are testing treatments for retinal degenerative diseases with stem cell and retinal transplants. This therapy has the potential to treat all retinal degenerative diseases, even in those people who have completely lost all photoreceptor and/or RPE cells. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Cell</h2>

    <p class="lead" style="line-height: 2; font-size: 40px">The smallest building-block of a living being that is capable of functioning on its own.
A cell is the smallest biological unit of specialized function capable of self-replication. A cell consists of an outer membrane (like a porous plastic bag), which encases the fluid of the cell, and the nucleus (a specialized compartment that contains the DNA and directs the production of proteins). Conversion of many cells (of either the same or different functions) at the same spot in the body can form an organ with specialized purposes, like the retina, liver or brain. </p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Cellular and Molecular Mechanisms of Disease (CMM)</h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Cellular and Molecular Mechanisms of Disease (CMM) is one of the Foundation's seven research priority areas. Scientists and clinicians are determining how mutations in each identified gene cause retinal degenerative disease and specifically what goes wrong in the cells of the eye as a result of this mutation. The resulting knowledge is being used to create effective, directed treatments. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Central Nervous System</h2>

    <p class="lead" style="line-height: 2; font-size: 40px">The "central command system" of the body, it includes the brain, spine and retina.
The central nervous system (CNS) is the "central command system" of the body, and includes the brain, spine and retina. Every nerve outside of the blood-brain and blood-retina barriers is considered part of the peripheral nervous system. Since the retina is part of the CNS, it is possible that treatments for other neurodegenerative diseases of the CNS (like Lou Gehrig's disease or Alzheimer's disease) could work for retinal degenerative diseases. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Choroideremia</h2>

    <p class="lead" style="line-height: 2; font-size: 40px">Choroideremia is a rare inherited disorder that causes progressive loss of vision due to degeneration of the choroid and retina. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Chromosome</h2>

    <p class="lead" style="line-height: 2; font-size: 40px">A "package" of DNA that holds the genetic code to life. In humans, each non-sex cell has 23 pairs of chromosomes. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Cilia (singular, Cilium)</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">Cilia are very small, hair-like structures that are found in or on many specialized cell types (for example, photoreceptors and ear, kidney, and lung cells). A mutation in a gene whose protein helps maintain the structure of these "hairs" can cause diseases with symptoms in one or more affected body systems, creating a syndrome. For example, some Usher syndromes involve vision and hearing problems, caused by altered cilia proteins found in both photoreceptors and ear cochlear cells. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Ciliary Body</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">A ring of tissue that contains muscles and "fibers" that adjust lens thickness to focus light on the retina, so that we can see. In addition, it produces fluid to provide nutrients and take away waste from the lens and cornea, thus helping to control eye pressure. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cone Cell </h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">A type of photoreceptor, it detects light and is responsible for providing fine detail, daylight and color vision. </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cone Dystrophy </h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">see Achromatopsia </p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cone-Rod Dystrophy </h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">Cone-rod dystrophy results from a primary loss of cone photoreceptors, followed by loss of rods.</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Congenital Stationary Night Blindness (CSNB) </h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">An inherited eye disorder that is not progressive ("stationary") and principally affects the rod photoreceptors in the retina, impairing night vision.
There may also be moderate to high myopia (short sightedness). The disorder is usually diagnosed by electroretinogram.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Copper </h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">A nutritional mineral that is required for proper functioning and maintenance of the body.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cornea </h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">The clear dome or "window" that covers the front of the eye, it provides a large part of the focusing ability of the eye.
    The cornea is the clear dome that covers the front of the eye. It starts to focus light onto the lens. If the eye is like a camera, consider the cornea to be like a UV (ultraviolet) filter screwed onto the end of the camera lens. This is the part of the eye that undergoes vision-correcting LASIK surgery.</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Cortical implant </h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">An implant into the part of the brain that interprets vision signals that come from the retina. Connecting this implant with a vision aide, like camera-glasses, may be a way to return vision to those who are blind.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">CSNB </h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">see Congenital Stationary Night Blindness</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">DHA (docosahexaenoic acid) </h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">A healthy, highly unsaturated fatty acid (a type of omega-3 fatty acid) that is found in foods (e.g., tuna, salmon) and dietary supplements, implicated in photoreceptor function.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> DNA (deoxyribonucleic acid)</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">The chemical "blueprint" for life. Genes are made of DNA and gene mutations can cause diseases.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Dominant</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">see Autosomal Dominant Disease
.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Drusen</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">Yellow-white retinal deposits thought to include proteins, pigments and fats. Dry AMD or juvenile macular degeneration may occur when drusen become too large or numerous and collect around the macula.
.</p>
  </div>
</div>


<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Embryonic Stem Cell</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">see Stem Cell
.</p>
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> FDA</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">Acronym for the Food and Drug Administration, a branch of the United States (US) Department of Health and Human Services.
  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> FFB</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">Acronym for Foundation Fighting Blindness.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2"> Free Radical</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">A highly reactive chemical or nutritional breakdown product that can cause damage to a cell or tissue.

  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">GA</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">see Gyrate Atrophy or Geographic Atrophy and Age-related Macular Degeneration


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">GE</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">see Genetics


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Gene</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">A unit of inheritance, encoded by DNA. If there's a mutation in a gene, this may cause a disease.


  </div>
</div>

<div class="row" style="margin-top: 150px; margin-left: 150px">
  <div class="col-md-12">
    <h2 class="glossary-h2">Gene Mapping</h2>

    <p class="lead" style="line-height: 1.2; font-size: 40px">Identifying a region of a chromosome that is responsible for causing a disease (or causing some known function), but not yet identifying the exact gene.


  </div>
</div>


Gene Mapping
Identifying a region of a chromosome that is responsible for causing a disease (or causing some known function), but not yet identifying the exact gene.
Gene Therapy (GT)
A therapeutic process that replaces or turns off the "bad" or mutated disease-causing gene and restores some level of normal protein function.
Genetic Testing (also called Genotyping)
Generally, is defined as determining the genetic make-up of an individual; specifically, is looking for the gene(s) that cause an individual's retinal degenerative disease.