<div class="jumbotron-glossary">
    <span>
        
        <h1 class="main-h1"> Cesar's Story 
        <p class="what-is-sci"><strong></strong></p>
            <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn" style="width: 200px; height: 60px; padding: 18px">CLICK TO LEARN MORE</a>
        </h1> 
        
        
    </span>
</div>

<div class="row">
  <div class="col-lg-12">
    <section id="intro" class="intro-section">
      <header class="what-is-header">
        <h2 class="what-is-h2">Story</h2>
      </header>
        <p>
          Cesar Gonzalez Panteleon..... 
        </p><br>
        <p>
          Had a surgery performed where he..
        </p> <br>
      
    </section>
  </div>