<div class="jumbotron-whatis">
        
        <h1 class="main-h1"> What's Stargardts Disease? 
        </h1> 
        
        <h1 style="text-align: center; color: white"> Find out more info below </h1>
            
    <div class="col-md-6">
    </div>

</div>
<div class="row" id="main-row-sect">
    <div class="container-lg">
       
    <div>
<div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <section id="intro" class="intro-section">
        <header class="what-is-header">
          <h2 class="what-is-h2">What is Stargardts Disease?</h2>
        </header>
        <p>
        Cesarcells.com helps you find cutting edge clinical trials. 

It is an independent resource on Stargardts disease as well as other Age Related Macular Degeneration (ARMD) eye diseases. 

We are not affiliated in any way with any medical company and we have a team of health professionals analyzing the full body of research.
        </p> <br>
        <p class="what-is-sci"><strong>We currently have over 8 ARMD clinical trials and references to scientific research.</strong></p>
          <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn" style="width: 200px; height: 60px; padding: 18px">Register Now</a>

      </section>
    </div>
  </div>
</div>