{{!-- <section id="cta" class="parallax-5"> --}}
      <div class="row parallax-5" id="cta">
        <div class="col-lg-12" id="wrap-main-h1">
         {{!--  <h1 class="main-h1"> <br><strong id="index-title">Find a retinal disease treatment.</strong></h1>
          <h1 style="text-align: center" id="sub-main-h1"> CESARCELLS makes it easy for you to qualify for clinical trials. You take a 2 minute assessment. Then you contact the trials. </h1> --}}
         
         <div class="row">
           <div class="col-xs- col-sm-2">
             
           </div>
           <div class="col-xs-12 col-sm-8" style="text-align: center">
           <div class="alert alert-info fade in" style="margin-top: 80px">
           <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong>Attention!</strong> Cesarcells is in Beta. Report all bugs            <a href="/contact_us/contact">HERE</a>

           </div>
            
             <h1 class="main-h1"> <br><strong id="index-title">Are you looking for a retinal disease treatment?</strong></h1>
              <a href="/users/sign_up" type="submit" class="btn btn-primary" id="yes-btn"> <span class="glyphicon glyphicon-arrow-right icon-arrow"> </span> Yes</a>
              <a href="/users/no" type="submit" class="btn btn-primary" id="no-btn"> <span class="glyphicon glyphicon-arrow-right icon-arrow"> </span> No</a>
             <h1 style="text-align: center" id="sub-main-h1"> Effortlessly qualify for clinical trials. You take a brief assessment. Then you contact the trials. </h1>
           </div>
           <div class="col-xs- col-sm-2">
             
           </div>
        </div>
         <br>
         <br>
              <a id="scroll-to-1"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
          
             
        </div>
      </div> 

      <div class="row" style="background-color: whitesmoke; height: 19%; margin-top: 10px">
        <div class="col-xs-6 col-sm-6" style="text-align: center; margin-top: 3%; letter-spacing: 6px; word-spacing: 30px">
      
      
              {{!-- <a id="scroll-to-1"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a> --}}
            <h1>Share Us <span class="span-share-us" style="color: darkslategray; margin-top: 3px"> 
             <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&appId=1769236296667454&width=88&height=20" width="88" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></span>      </h1>
        </div>
        {{!-- <div class="clearfix visible-xs-block"></div> --}}

        <div class="col-xs-6 col-sm-6" style="text-align: center; margin-top: 3%; letter-spacing: 10px; word-spacing: 10px">
          <h1>Highlight text <span class="glyphicon glyphicon-volume-up span-share-us" style="color: darkslategray; margin-top: 3px">  </span></h1><br>
        </div>
      </div>            
{{!-- </section> --}}

<div id="part-1"></div>
 
{{!-- <section id="cta" class="parallax"> --}}
   <div class="overlay"></div>
   {{!-- <div class="container"> --}}
     
     
       {{!-- <div class="page-whatis"> --}}
         {{!-- <header class="what-is-header"> --}}
         <div class="row">
           <div class="col-lg-12 what-is-header">

             <h2 class="what-is-h2">Cesarcells is your partner</h2>

             Cesarcells.com helps you find and qualify for retinal disease clinical trials. 

             It is also an independent resource on <strong id="index-title">Age Related Macular Degeneration (ARMD)</strong> and other retinal diseases. 

            We have a team of health professionals analyzing the full body of research and clinical trial criteria for you, so you don't have to waste time reading through endless medical documentation. 
             </p> <br>
             <a class="btn btn-primary btn-lg" href="/about_us/aboutus" role="button" id="learn-more">Learn More About Us</a>
             <p class="what-is-sci"><strong>We currently have over 8 ARMD clinical trials.</strong></p>
             {{!-- <img src="/assets/images/clintrial.png" width="30%" style="-webkit-filter: grayscale(100%); filter: grayscale(100%); padding: 10px; margin-bottom: 40px" id="clin-trial-img"></p> --}}
             <span class="glyphicon glyphicon-star" aria-hidden="true">     Trials are derived from: <img src="/assets/images/clintrial.png" width="50%" style="-webkit-filter: grayscale(100%); filter: grayscale(100%); padding: 50px;"></span>
             
            
             
           </div>
         </div>
         {{!-- </header> --}}
       {{!-- </div> --}}
 {{!-- </section> --}}
             
<A name="how-it-work-main"></A>

<section id="cta" class="parallax-2">
    <div class="overlay"></div>
        <div class="page-whatis">

            <header class="how-it-header">
                <h2 class="how-it-works-h2-top">How It Works</h2>

               

                <p class="lead index-page">Take a <strong id="index-title">3-5 minute assessment</strong> to see if you're likely to <strong id="index-title">qualify for clinical trials.</strong> 
               Then <strong id="index-title">contact the clinics</strong> you qualified for.</p>              
                <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button" id="learn-more-how">Learn More</a>

                
           
            </header>
       
        </div>

</section>

<!-- Treatments Section -->
<A name="treatments-main"></A>
{{!-- <div class="row">
  <div class="col-lg-12"> --}}
  {{!-- <section id="cta" class="parallax-4"> --}}
         
            {{!--  <div class="block-page-trials">
              <header class="block-avail-header">
                     
             </header> --}}
            <div class="row">
              <div class="col-lg-12">
                 {{!-- <header class="avail-header"> --}}

                        <h2 class="clinical-trials-h2-top">Clinical Trials </h2>
                            <p class="lead index-p">
                            

                            With a free CesarCells account, you can connect with Stem Cell, Drug, Bio-Tech, and Genetic <strong id="index-title">clinical trials</strong> that you are interested in. Trials are gathered independently from various resources, including ClinicalTrials.gov.

                            </p> 
                        
                             <div class="col-md-3 wrap-trial-img">
                             <h2 class="avail-trials-h2">STEMCELL</h2>
                             <img class="clin-trial-img" src="/assets/images/donut2.jpeg">
                             </div>
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">DRUG</h2>
                             <img class="clin-trial-img" src="/assets/images/drugBottle.jpeg">
                             </div>
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">BIO-TECH</h2>
                             <img class="clin-trial-img" src="/assets/images/magGlass.jpeg">
                             </div>
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">GENETIC</h2>
                             <img class="clin-trial-img" src="/assets/images/geneladder.jpeg">
                             </div>
                {{!-- </header> --}}
              </div>
            </div>

    
   <A name="tools-main"></A>
{{!-- <section id="cta" class="parallax-3"> --}}
     

   <div class="pages-tools">
       <header class="tools-h2"> 
       <h2 class="how-it-works-h2-top">TOOLS 
            <p class="lead index-page">
            

            Our tools make it easier for you to find life changing treatments. No more hard to read studies. Just a simple assessment. It's that's easy.

            </p> 
            <div class="row">

                <div class="col-sm-4">
                    
                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-eye-open icon-test" aria-hidden="true"></span><br>       Amsler Test<br></h2>

                </div>
                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-book icon-book" aria-hidden="true"></span><br>        Glossary<br></h2>
                
                </div>
                

                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-check icon-check" aria-hidden="true"></span><br>        Clinical Trial Qualifier</h2>
                
                </div> 
            </div>
            <div class="row">

                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-phone icon-comment" aria-hidden="true"></span><br>   Mobile Friendly</h2>
                
                </div>
                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-bullhorn icon-bull" aria-hidden="true"></span><br>        Text Reader<br> </h2>

                </div>
                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-tasks icon-tasks" aria-hidden="true"></span><br>        Genome Analysis<br> </h2>

                </div>

            </div>

            </h2>
        </header>

    </div>
           
{{!-- </section> --}}
    


            
    {{!-- </section> --}}
   
           
     <div class="row">
        <header class="DNA-header">
          <h2 class="DNA-h2-top">Take a DNA Test </h2>                        
             <div class="col-md-6">
             <h2 class="avail-trials-h2">We currently work with data from the direct-to-consumer <strong id="index-title">23andMe genetic </strong>service</h2>

              <ul class="list" style="text-align: left">
                <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>     Learn about your genetic susceptibility to certain <strong id="index-title">retinal diseases</strong></li><br>
                <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>     Find out if you are  <strong id="index-title">homozygous, or heterozygous for each gene.</strong></li><br>

                <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>     Understand the <strong id="index-title">SNPs that contribute to genetic retinal diseases</strong></li><br>

                <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>     Share your results with <strong id="index-title"> your clinic for even better collaboration</strong></li><br>


              </ul>
             </div>
             <div class="col-md-5">
              <img src="/assets/images/23andMe_Box.jpg" id="two3andme-img-index">

             </div>                             
        </header>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="Gene-h2-top">Obtain a Gene Report </h2>  
           <h2 class="avail-trials-h2">We scan your genome for the following <strong id="index-title">CLINICALLY RELEVANT SNPs</strong></h2>



      </div> 
    </div>  
    <div class="row">        
      <div class="col-lg-4">

      </div>          
      <div class="col-lg-3">
                              
           <ul class="list" style="text-align: left">
             <li><span class="glyphicon glyphicon-star star-it" aria-hidden="true"></span>  <strong id="index-title">MYOC</strong></li><br>
             <li><span class="glyphicon glyphicon-star star-it" aria-hidden="true"></span> <strong id="index-title">LOXL1</strong></li><br>

             <li><span class="glyphicon glyphicon-star star-it" aria-hidden="true"></span>         <strong id="index-title">C3</strong></li><br>

           </ul>
      </div>      
            
              
      <div class="col-lg-3">      
            <ul class="list" style="text-align: left">
              <li><span class="glyphicon glyphicon-star star-it" aria-hidden="true"></span>         <strong id="index-title">CFH</strong></li><br>

              <li><span class="glyphicon glyphicon-star star-it" aria-hidden="true"></span>         <strong id="index-title">TLR3</strong></li><br>

              <li><span class="glyphicon glyphicon-star star-it" aria-hidden="true"></span>         <strong id="index-title">ABCA4</strong></li><br>
            </ul>
            
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h2 class="avail-trials-h2">Genes by <strong id="index-title">Retinal Diseases</strong></h2>

        <ul class="list" style="text-align: center; margin-top: 6%">
          <li>ABCA4     <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>      <strong id="index-title">     Stargardt's Disease</strong></li><br>
          <li>MYOC     <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>      <strong id="index-title">     Glaucoma</strong></li><br>

         <li>CFH     <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>      <strong id="index-title">     ARMD</strong></li><br>

         <li>      <strong id="index-title">     AND MORE!</strong></li><br>
        </ul>
        <h2 class="sample-genereport-h2"><strong id="index-title">Gene Report</strong></h2>
        <img src="/assets/images/samplereport.png" width="100%" height="100%" style="padding: 30px; -webkit-filter: blur(5px); filter: blur(5px)" class="img-rounded" id="img-genereport">
        

      </div>
      
      <div class="col-lg-6">
        <h2 class="sample-genetable-h2"><strong id="index-title">Gene Table</strong></h2>

        <img src="/assets/images/gene-table.png" width="100%" height="100%" style="padding: 30px; -webkit-filter: blur(5px); filter: blur(5px)" class="img-rounded">
        <h2 class="sample-genetable-h2"><strong id="index-title">Genetics </strong> Results Page</h2>
        <img src="/assets/images/mac.jpeg" width="100%" height="100%" style="padding: 30px" class="img-rounded">


      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
      <p class="lead" style="text-align: center">Each report is just $19 and comes with a free dietary protocol complete with Lifestyle, Nutrition, and Supplementation Recommendations. *No refunds on virtual products</p>
      <a href="/users/sign-in" type="submit" class="btn btn-primary" id="buy-gene-btn-register-now" style="margin-top: 50px" > <span class="glyphicon glyphicon-arrow-right icon-arrow"> </span>       Yes! I want a Gene Report</a><br>
      </div>
      
    </div> 

    <div class="row">
    <div class="col-lg-12" id="faqs-index">
      <h2 class="faqs-h2-top">FAQ </h2>
      
      <p class="lead faqs-p"><strong>How does CESARCELLS Gene Report differ from others?</strong> CESARCELLS Gene Report provides only well-researched SNPs that have clinical relevance to retinal disease patients and physicians. We are also one of the only companies to offer a retinal disease gene report.</p>

      <p class="lead faqs-p"><strong>Who can order the CESARCELLS Gene Report?</strong> Anyone can order the Gene report!</p>

      <p class="lead faqs-p"><strong>Can I use Ancestry.com or other gene services' raw data?</strong> Unfortunately no. We found that 23andMe has the most robust library of SNPs to work with, which ultimately gives us the opportunity to provide a better service to our customers.</p>

    </div>
    </div> 

     

    <div class="row">
        <div class="col-lg-12" id="wrap-bottom-index">
        <h1 class="avail-trials-h1">Get Started Finding Your <strong id="index-title">Clinical Trial </strong></h1>
            <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn-register-now"> <span class="glyphicon glyphicon-arrow-right icon-arrow"> </span>       Register Now</a>
      
    </div>
         
</div><br><br><br>

