<!-- Navigation -->
<div class="jumbotron">
   <h1></h1>
 </div>
<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
           
            <h1> CONNECTING YOU TO LIFE CHANGING TREATMENTS </h1> <br>
            
            </div>
        </div>
        
        
    </div>
</section>

<!-- About Section -->
<A name="about-main"></A>
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>About Section</h1>
            </div>
        </div>
    </div>
</section>

<!-- Tools Section -->
<A name="tools-main"></A>
<section id="tools-main" class="services-section">
    <div class="container" id="tools-main">
        <div class="row">
            <div class="col-lg-12">
                <h1>Tools Section</h1>
            </div>
        </div>
    </div>
</section>

<!-- Treatments Section -->
<A name="treatments-main"></A>
<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Treatments Section</h1>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<A name="contact-main"></A>
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Section</h1>
            </div>
        </div>
    </div>
</section>
