<!-- Navigation -->

<div class="jumbotron-main">
    <span>
    
        <h1 class="main-h1"> A new approach <br>to finding clinical trials. 
            {{!-- <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn" style="width: 200px; height: 60px; padding: 18px">JOIN</a> --}}
        </h1> 
        <h1 class="main-h1-2">  
            {{!-- <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn" style="width: 200px; height: 60px; padding: 18px">JOIN</a> --}}
        </h1> 
        
        
    </span>
</div>
                <section id="cta" class="parallax">
                       <div class="overlay"></div>
                       {{!-- <div class="container"> --}}
                         
                         
                           <div class="page-whatis">
                             <header class="what-is-header">
                             <h2 class="what-is-h2">What is Cesarcells.com?</h2>
                                 <p class="lead">
                                 Cesarcells.com helps you find cutting edge clinical trials. 

                                 It is an independent resource on Stargardts disease as well as other Age Related Macular Degeneration (ARMD) eye diseases. 

                                 We are not affiliated in any way with any medical company and we have a team of health professionals analyzing the full body of research.
                                 </p> <br>

                                 <p class="what-is-sci"><strong>We currently have over 8 ARMD clinical trials and references to scientific research.</strong></p>
                                 
                                 <a class="btn btn-primary btn-lg" href="/about_us/mission" role="button" id="learn-more">Learn More About Us</a>
                             </header>
                                
                           </div>
                         <!-- /.row-->
                       {{!-- </div> <!-- /.container--> --}}
                     </section>

    <A name="how-it-work-main"></A>

    <section id="cta" class="parallax-2">
        <div class="overlay"></div>
        <div class="space-taker"></div>
            <div class="page-whatis">

                        <header class="how-it-header">
                            <h2 class="how-it-works-h2-top">How It Works</h2>

                                <p class="lead">
                 

                                Take a 5 minute assessment to see if you qualify for clinical trials. Then contact the clinics you qualified for. 

                                </p> 
                                
                                <a class="btn btn-primary btn-lg" href="#" role="button" id="learn-more">Learn More About Us</a>
            
                       
                        </header>

                    
            </div>

    </section>

<div id="spopup" style="display: none;">
    <!--close button-->
    <a style="position:absolute;top:14px;right:10px;color:#555;font-size:10px;font-weight:bold;" href="javascript:void(0);" onclick="return closeSPopup();">
        <img src="http://adventureahead.kindercare.com/images/shut.png" width="18" height="18"/>
    </a>
    <!--insert popup content here-->
    Highlight Text To Have It Read To You.
</div>


<section id="cta" class="parallax-3">
     

           <A name="tools-main"></A>
           <div class="pages-tools">
               <header class="tools-h2"> 
               <h2 class="how-it-works-h2-top">TOOLS </h2>
                    <p class="lead">
                    

                    Our tools make it easier for you to find life changing treatments. No more hard to read studies. Just a simple assessment. It's that's easy.

                    </p> 
                    <div class="row">

                        <div class="col-sm-2">
                            
                            <h2 class="main-tools-title" > <span class="glyphicon glyphicon-eye-open icon-test" aria-hidden="true"></span><br>       Amsler Test<br></h2>

                        </div>
                        <div class="col-sm-2">

                            <h2 class="main-tools-title" > <span class="glyphicon glyphicon-book icon-book" aria-hidden="true"></span><br>        Glossary<br></h2>
                        
                        </div>
                        

                        <div class="col-sm-2">

                            <h2 class="main-tools-title" > <span class="glyphicon glyphicon-check icon-check" aria-hidden="true"></span><br>        Clinical Trial Qualifier</h2>
                        
                        </div> 
                        <div class="col-sm-2">

                            <h2 class="main-tools-title" > <span class="glyphicon glyphicon-comment icon-comment" aria-hidden="true"></span><br>   Discussion Forum</h2>
                        
                        </div>
                        <div class="col-sm-2">

                            <h2 class="main-tools-title" > <span class="glyphicon glyphicon-bullhorn icon-bull" aria-hidden="true"></span><br>        Text Reader<br> </h2>

                        </div>
                        <div class="col-sm-2">

                            <h2 class="main-tools-title" > <span class="glyphicon glyphicon-calendar icon-calendar" aria-hidden="true"></span><br>        Appointments<br> </h2>

                        </div>


                   

                    </div>

                 </header>
            </div>

             
     </section>
    
<!-- Treatments Section -->
<A name="treatments-main"></A>
{{!-- <div class="row">
  <div class="col-lg-12"> --}}
  <section id="cta" class="parallax-4">
         
             <div class="page-trials">
                 <header class="what-is-header">
                             <h2 class="how-it-works-h2-top">Available Trials</h2>
                         
                         <div class="row">
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">STEMCELL</h2>
                             </div>
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">EXPERIMENTAL DRUG</h2>
                             </div>
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">BIO-TECH</h2>
                             </div>
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">GENETIC</h2>
                             </div>
                         </div><br><br><br>
                         
                         <p class="what-is-sci"><strong>Register to find a trial right for you. It's completely free!</strong></p>
                           <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn"> <span class="glyphicon glyphicon-arrow-right icon-arrow"> </span>       Register Now</a>
           
                </header>
            </div>
    </section>
    {{!-- <section id="treatments" class="treatments-section">
        <header class="what-is-header">
            <h2 class="trial-main-h2">Available Trials</h2>
        </header>
        
        <div class="row">
            <div class="col-md-3">
            <h2 class="avail-trials-h2">STEMCELL</h2>
            </div>
            <div class="col-md-3">
            <h2 class="avail-trials-h2">EXPERIMENTAL DRUG</h2>
            </div>
            <div class="col-md-3">
            <h2 class="avail-trials-h2">BIO-TECH</h2>
            </div>
            <div class="col-md-3">
            <h2 class="avail-trials-h2">GENETIC</h2>
            </div>
        </div><br><br><br>
        
        <p class="what-is-sci"><strong>Register to find a trial right for you. It's completely free!</strong></p>
          <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn" style="width: 200px; height: 60px; padding: 18px">Register Now</a>
    </section>
  </div>
</div>
</section>
 --}}

