<!-- Navigation -->

<div class="jumbotron-main">
    <span>
        
        <h1 class="main-h1"> CONNECTING YOU TO LIFE CHANGING TREATMENTS 
        <p class="what-is-sci"><strong>Qualify For Age Related Macular Degeneration clinical trials!</strong></p>
            <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn" style="width: 200px; height: 60px; padding: 18px">SEE IF YOU QUALIFY</a>
        </h1> 
        
        
    </span>
</div>
<div class="row" id="main-row-sect">
    <div class="container-lg">
        <span class="img-spans-main"> 
        <img class="img-responsive center-block" src="https://cdn3.iconfinder.com/data/icons/medical-2-1/512/scientist-512.png">   
        </span>
        <span class="img-spans-main"> 
        <img class="img-responsive center-block" src="https://cdn3.iconfinder.com/data/icons/cosmo-color-medicine/40/microscope_1-512.png">   
        </span>
        <span class="img-spans-main"> 
        <img class="img-responsive center-block" src="https://cdn2.iconfinder.com/data/icons/laboratory/100/BEAKER_BOIL-512.png">   
        </span>
        <span class="img-spans-main"> 
        <img class="img-responsive center-block" src="http://artistsvalley.com/images/icons/Medical%20Healthcare%20Icons/DNA%20Genetics/256x256/DNA%20Genetics.jpg">   
        </span>
        <span class="img-spans-main"> 
        <img class="img-responsive center-block" src="https://cdn3.iconfinder.com/data/icons/photography/512/Icon_21-512.png">   
        </span>
        <span class="img-spans-main"> 
        <img class="img-responsive center-block" src="http://louisvillebodyworks.com/wp-content/uploads/2015/02/BodyWorksLogo-stacked-e1428633927158.png">   
        </span>
        <span class="img-spans-main"> 
        <img class="img-responsive center-block" src="https://cdn0.iconfinder.com/data/icons/activities-glyph/2048/2131_-_Doctor-512.png">   
        </span>
    <div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
        <section id="intro" class="intro-section">
                <header class="what-is-header">
                <h2 class="what-is-h2">What is Cesarcells.com?</h2>
                </header>
                <p>
                Cesarcells.com helps you find cutting edge clinical trials. 

                 It is an independent resource on Stargardts disease as well as other Age Related Macular Degeneration (ARMD) eye diseases. 

               We are not affiliated in any way with any medical company and we have a team of health professionals analyzing the full body of research.
                </p> <br>
                <p class="what-is-sci"><strong>We currently have over 8 ARMD clinical trials and references to scientific research.</strong></p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn More About Us</a>
            
            </div>
        </div>
    </div>
</section>

<!-- How it works Section -->
<A name="how-it-work-main"></A>
<div class="row">
  <div class="col-lg-12">
    <section id="intro" class="intro-section">
      <header class="what-is-header">
        <h2 class="what-is-h2">How It Works</h2>
      </header>
       <div class="col-md-4">.col-md-4</div>
         <div class="col-md-4">.col-md-4</div>
         <div class="col-md-4">.col-md-4</div>
    </section>
  </div>
</div>


<!-- Tools Section -->
<A name="tools-main"></A>
div class="row">
  <div class="col-lg-12">
    <section id="intro" class="intro-section">
      <header class="what-is-header">
        <h2 class="what-is-h2">Tools</h2>
      </header>
       <div class="col-md-4">.col-md-4</div>
         <div class="col-md-4">.col-md-4</div>
         <div class="col-md-4">.col-md-4</div>
    </section>
  </div>
</div>
</section>

<!-- Treatments Section -->
<A name="treatments-main"></A>
<div class="row">
  <div class="col-lg-12">
    <section id="intro" class="intro-section">
      <header class="what-is-header">
        <h2 class="what-is-h2">What is Stargardt Disease?</h2>
      </header>
        <p>
          Stargardt disease is the most common form of inherited juvenile macular degeneration. The progressive vision loss associated with Stargardt disease is caused by the death of photoreceptor cells in the central portion of the retina called the macula.
          The retina is the delicate light-sensing tissue lining the back inside wall of the eye. 
        </p><br>
        <p>
          Photoreceptor cells in the retina provide vision by conveying information from the visual field to the brain. The macula is responsible for sharp central vision — for tasks like reading, watching television, and looking at faces.
          Decreased central vision is a hallmark of Stargardt disease. Side vision is usually preserved. Stargardt disease typically develops during childhood and adolescence. Also involved in Stargardt disease is a region beneath the macula called the retinal pigment epithelium.
        </p> <br>
        <p class="what-is-sci"><strong>Register to find a trial right for you. It's completely free!</strong></p>
          <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn" style="width: 200px; height: 60px; padding: 18px">Register Now</a>
    </section>
  </div>
</div>
</section>


