<section id="cta" class="parallax-5">
       <div class="overlay"></div>
         
         <div class="page-fill">

         </div>
           
                <h1 class="main-h1"> <br>Find a retinal disease treatment. 
                    <a id="scroll-to-1"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                </h1> 
             
                
        </div>


         
        
</section>

<div id="part-1"></div>
 
<section id="cta" class="parallax">
   <div class="overlay"></div>
   {{!-- <div class="container"> --}}
     
     <div class="page-fill">

     </div>
       <div class="page-whatis">
         <header class="what-is-header">

         <h2 class="what-is-h2">What is Cesarcells.com?

             <p class="lead index-page">
             Cesarcells.com helps you find cutting edge clinical trials. 

             It is an independent resource on Stargardts disease as well as other Age Related Macular Degeneration (ARMD) eye diseases. 

             We are not affiliated in any way with any medical company and we have a team of health professionals analyzing the full body of research.
             </p> <br>

             <p class="what-is-sci"><strong>We currently have over 8 ARMD clinical trials and references to scientific research.</strong></p>
             
             <a class="btn btn-primary btn-lg" href="/about_us/aboutus" role="button" id="learn-more">Learn More About Us</a>
         </h2>
         </header>
       </div>
 </section>
             
<A name="how-it-work-main"></A>

<section id="cta" class="parallax-2">
    <div class="overlay"></div>
        <div class="page-whatis">

            <header class="how-it-header">
                <h2 class="how-it-works-h2-top">How It Works</h2>

               

                <p class="lead index-page">Take a 5 minute assessment to see if you qualify for clinical trials. 
               Then contact the clinics you qualified for.</p>


                
                
               
                <a class="btn btn-primary btn-lg" href="#" role="button" id="learn-more-how">Learn More About Us</a>

                
           
            </header>
       
        </div>

</section>
    
   <A name="tools-main"></A>
<section id="cta" class="parallax-3">
     

   <div class="pages-tools">
       <header class="tools-h2"> 
       <h2 class="how-it-works-h2-top">TOOLS 
            <p class="lead index-page">
            

            Our tools make it easier for you to find life changing treatments. No more hard to read studies. Just a simple assessment. It's that's easy.

            </p> 
            <div class="row">

                <div class="col-sm-4">
                    
                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-eye-open icon-test" aria-hidden="true"></span><br>       Amsler Test<br></h2>

                </div>
                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-book icon-book" aria-hidden="true"></span><br>        Glossary<br></h2>
                
                </div>
                

                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-check icon-check" aria-hidden="true"></span><br>        Clinical Trial Qualifier</h2>
                
                </div> 
            </div>
            <div class="row">

                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-comment icon-comment" aria-hidden="true"></span><br>   Discussion Forum</h2>
                
                </div>
                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-bullhorn icon-bull" aria-hidden="true"></span><br>        Text Reader<br> </h2>

                </div>
                <div class="col-sm-4">

                    <h2 class="main-tools-title" > <span class="glyphicon glyphicon-tasks icon-tasks" aria-hidden="true"></span><br>        Genome Analysis<br> </h2>

                </div>

            </div>

            </h2>
        </header>
    </div>
           
</section>
    
<!-- Treatments Section -->
<A name="treatments-main"></A>
{{!-- <div class="row">
  <div class="col-lg-12"> --}}
  <section id="cta" class="parallax-4">
         
            {{!--  <div class="block-page-trials">
              <header class="block-avail-header">
                     
             </header> --}}
             <div class="row">
                 <header class="avail-header">
                        <h2 class="clinical-trials-h2-top">Clinical Trials </h2>
                            <p class="lead index-p">
                            

                            With a free CesarCells account, you can search for Stem Cell, Drug, Bio-Tech, and Genetic clinical trials that you are intereted in.

                            </p> 
                        
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">STEMCELL</h2>
                             <img class="clin-trial-img" src="/assets/images/HumanCell.png">
                             </div>
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">DRUG</h2>
                             <img class="clin-trial-img" src="http://www.iconarchive.com/download/i82458/medicalwp/medical/Syringe-blue.ico">
                             </div>
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">BIO-TECH</h2>
                             <img class="clin-trial-img" src="/assets/images/biochemistry.png">
                             </div>
                             <div class="col-md-3">
                             <h2 class="avail-trials-h2">GENETIC</h2>
                             <img class="clin-trial-img" src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/biotech.png">
                             </div>
                </header>
            </div>
         

            
    </section>
    <section id="cta" class="parallax-6">
           
               <div class="row">
                   <header class="DNA-header">
                        <h2 class="DNA-h2-top">Take a DNA Test </h2>                        
                           <div class="col-md-6">
                           <h2 class="avail-trials-h2">With a FREE CesarCells Account You Can:</h2>

                            <ul class="list" style="text-align: left">
                              <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>     Learn about your genetic susceptibility to certain retinal diseases</li><br>
                              <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>     Know what your risk is for specific retinal diseases</li><br>

                              <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>     Understand the SNPs that contribute to genetic retinal diseases</li>

                            </ul>
                           </div>
                           <div class="col-md-6">
                           <img src="/assets/images/23andMe_Box.jpg" style="margin-top: 50px">

                           </div>                             
                  </header>
              </div>
           

              
      </section>
    
    <div style="background-color: white; width: 100%; height: 10%; opacity: 1">
        <div style="text-align: center; opacity: 1; height: 10px">
        <h1 class="avail-trials-h1">Get Started Finding Your Treatment Now</h1>
            <a href="/users/sign-in" type="submit" class="btn btn-primary" id="main-btn"> <span class="glyphicon glyphicon-arrow-right icon-arrow"> </span>       Register Now</a>
      
        </div>
         
    </div><br><br><br>

