    <div class="row" id="row-top-dash-images">
 
        {{#if successFlash}}
        <h2 >{{successFlash}}</h2>
        {{/if}}
        {{#if taken}}

        <p class="alert alert-danger">{{taken}}</p>
        {{/if}}
   
    </div>
    <div class="col-md-6" >

        <a href="/users/view-results">

        <img src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/12/121/121104/flaticons15-pr-f.jpg?1401654621" class="img-rounded" alt="Cinque Terre" width="500" height="298" id="img-dash3"/>
        <h3><span>YOUR RESULTS</span></h3>
        </a>
        </div>
        <div class="col-md-6" id="col-one-dash-images">
            <div class="col-xs-9">
                <h2 id="h1-images">What you can do</h2>
            </div>
            {{#unless assessmentTaken}}
            <a href="/tools/start-health-assessment">
            <img src="http://feelgrafix.com/data_images/out/20/930465-dna.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="206" id="img-dash"/>
            <h3><span>Take The Clinical Trial <br>Assessment</span></h3>
            </a>
            {{/unless}}
            
            {{#if assessmentTaken}}

            <a href="#">
            <img src="http://feelgrafix.com/data_images/out/20/930465-dna.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="206" id="img-dash" style="-webkit-filter: grayscale(100%); filter: grayscale(100%)" />
            <h3><span>Take The Clinical Trial <br>Assessment</span></h3>
            </a>
            {{/if}}

            <a href="/tools/genetic">
            <img src="http://p6.zdassets.com/hc/settings_assets/110137/200071170/BRAvBoNT6M0Je9RDM5XioQ-B8RxjraWdnSXCzvGLrn68Q-icn_logo_retina.png" class="img-rounded" alt="Cinque Terre" width="304" height="206" id="img-dash2">
            <h3 id="top-right-h3"><spanid="top-right-span">Import Your 23andme Genetic Data</span></h3>
            </a>
        </div>
    </div>
    <div class="row" id="row-btm-dash-images">
        <div class="col-md-6">
        
        </div>
        <div class="col-md-6" id="col-two-dash-images"> 
            <a href="/tools/amsler-test">

            <img src="http://www.snowmyna.com/wp-content/uploads/2014/08/AMD-Amsler-Grid-288x300.png" class="img-rounded" alt="Cinque Terre" width="304" height="206" id="img-dash3"/>
            <h3><span>Take the Amsler Test</span></h3>
            </a>

            <a href="/tools/all-trials">
            <img src="http://flexogenix.com/wp-content/uploads/2015/01/16.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="206" id="img-dash4"/>
            <h3 id="top-right-h3"><spanid="top-right-span">Search For Trials</span></h3>
            </a>
        </div>
    </div>
   <div class="row" id="main-row-sect">
       <div class="container-lg">
           
       <div>
   <div>
    