<div class="container">
  <div class="row" style="margin-bottom: 100px">
    <div class="col-sm-12 col-md-2">

    </div>
    <div class="col-sm-12 col-md-8" style="text-align: center">
      <h1 class="main-h1"> <br><strong id="index-title">Do you have a retinal disease?</strong></h1>
      <a href="/users/sign_up" type="submit" class="btn btn-primary" id="yes-btn"> <span class="glyphicon glyphicon-arrow-right icon-arrow"> </span> Yes</a>
      <a href="/contact_us/contact" type="submit" class="btn btn-primary" id="no-btn"> <span class="glyphicon glyphicon-arrow-right icon-arrow"> </span> No</a>
    </div>
    <div class="col-sm-12 col-md-2">

    </div>
  </div>
</div>