
<h3>Forgot Your Password?</h3>

<form class='reset-password-form ' action="/users/password-new" method="post" autocomplete="on">

<h5> We'll send you password reset instructions.</h5>
  
  <div id='email' class="form-group">
    <label for="em">Email: </label>
    <input autofocus="autofocus" type="email" id="e-mail" name="email" placeholder="Enter Email" required >
  </div>
 
  <button type="submit">Reset Password!</button> 
  <br> 
</form>