{{#if error}}
<div class="alert alert-danger" style="margin-top: 180px">{{error}}</div>
{{/if}}
{{#if success}}
<div class="alert alert-success" style="margin-top: 180px">{{success}}</div>
{{/if}}
<h2 id="header-passreset-form">Forgot Your Password?</h2>

<form class='reset-password-form' action="/users/password_new" method="post" autocomplete="on">

<h5> We'll send you password reset instructions.</h5>
  
  <div id='email' class="form-group">
    <label for="em">Email: </label>
    <input autofocus="autofocus" class="form-control" type="email" id="e-mail" name="email" placeholder="Enter Email" required >
    <span id="helpBlock" class="help-block">Check your email inbox. If you don't receive an email in a few minutes, enter your email address and press Reset Password again.</span>
  </div>
 
  <button class="btn btn-default" type="submit">Reset Password!</button> 
  <br> 
</form>