<section id='userSignin'>
  <div id='userForm'>
  <br>
  <h3 id='registerH3'>Welcome! Sign-In below</h3>
  <form class="create-update-form" action="/users/login" method="post">
    <div id='email' class="form-group">
      <label for="em">Email:  </label>
      <input type="text" id="em" name="email">
    </div>

    <div id='password' class="form-group">
      <label for="pass">Password:</label>
      <input type="password" id="pass" name="password">
    </div>
  <button type="submit">Sign In</button>
  <br>
  </div>
</section>


