<section id='userRegister'>
  <div id='userForm'>
  <br>
  <h3>Welcome to the sign-up page!</h3>
    <form class='create-update-form ' action="/users/create" method="post">
      <div class="form-group">
        <label for="uname">Username: </label>
        <input type="text" id="uname" name="username" placeholder="Enter Username">
      </div>
          
      <div class="form-group">
        <label for="pass">Password: </label>
        <input type="password" id="pass" name="password" placeholder='Enter Password'>
      </div>
        
      <div id='email' class="form-group">
        <label for="em">Email: </label>
        <input type="email" id="e-mail" name="email" placeholder="Enter Email">
      </div>

      <button type="submit">Sign Up!</button>  
    </form>
  <br>
  </div>
</section>