<div style="margin-top: 150px" class="row">
{{#if success}}
<div class="alert alert-success">{{success}}</div>
{{/if}}
{{#if info}}
<div class="alert alert-info">{{info}}</div>
{{/if}}
<div class="col-lg-8" id="wrap-starg-form">
<h2><strong id="index-title">STARGARDT'S DISEASE</strong> REPORT</h2>

<h2 style="margin-top: 50px">Fill out the form below if you'd like us to share your information with the world's most cutting edge companies developing <strong id="index-title">stem cell, drug, bio-tech, and gene therapy retinal disease treatments.</strong> </h2>

<form class="details-new-form" action="/users/submit-stargardt-disease-registry
" method="post" autocomplete="on">
  <br>
  
  <div class="form-group">
    <label for="visual trouble age">At what age did you start having <strong id="index-title">visual trouble</strong>?
</label>
    <input type="number" name="visualtrouble" placeholder="" class="form-control" required="true"> 
  </div>

  <div class="form-group">
    <label for="besteyevision">Back then, what was the <strong id="index-title">vision</strong> of your best seeing eye (20/xxx)?</label>
    <input required="true" type="text" name="besteyevision" placeholder="" class="form-control" >
  </div>

  <div class="form-group">
    <label for="Vision Today">What is your vision today (best seeing eye, 20/xxx)? </label>
    <input required="true" type="number" id="visiontoday" name="visiontoday" class="form-control" placeholder="">
  </div> 

  <div class="form-group">
    <label for="Genetically confirmed">Have you been genetically confirmed for <strong id="index-title">Stargardt's Disease</strong> (Yes/No)?</label>
    <input required="true" type="text" name="stargeneticallyconfirm" placeholder="" class="form-control" >
  </div>

  <div class="form-group">
    <label for="mutation">If yes, please provide the detected <strong id="index-title">ABCA4 genetic mutation(s)</strong></label>
    <input required="true" type="text" name="genemutation" placeholder="" class="form-control" >
  </div>

  <div class="form-group">
    <label for="opto name">Name of your <strong id="index-title">ophthalmologist</strong>
</label>
    <input required="true" type="text" name="opthaname" placeholder="" class="form-control" >
  </div>
  <div class="form-group">
    <label for="opto phone and email">Contact information of your <strong id="index-title">ophthalmologist</strong> (phone, email or both)</label>
    <input required="true" type="text" name="opthaemail" placeholder="info@gmail.com 212-111-1111" class="form-control" >
  </div>
  <div class="form-group">
    <label for="Under 18 legal guardian">If you are under 18 years old, please enter the name of a parent or legal representative:</label>
    <input required="true" type="text" name="underlegalguardian" placeholder="" class="form-control" >
  </div>
  <div class="form-group">
    <label for="Form filled out for someone else">If you filled out this form for someone else, please enter your name here
</label>
    <input required="true" type="text" name="filledoutform" placeholder="" class="form-control" >
  </div>
  <p class="lead">Cesarcells.com takes your personal information very seriously.<br> Your personal health information will remain confidential and anonymous when we send it to clinics. If you are a good candidate for a future clinical trial, we will contact you to connect you with the clinic.</p>

  <p class="lead">Please share this website with people you know who may have an interest in retinal disease clinical trials.</p>
  <iframe src="https://www.facebook.com/plugins/share_button.php?href=https://arcane-fortress-13823.herokuapp.com/users/stargardt-disease-registry&layout=button_count&size=small&mobile_iframe=true&appId=1769236296667454&width=88&height=20" width="88" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <p class="lead">By submitting this form you agree to our terms and conditions and to share this information with clinical trials relating to your personal health information.</p>

  <input type="submit" value="Submit" class="btn btn-default"><br>
      
</form>
</div>
</div>
