<div style="margin-top: 150px" class="row">
{{#if success}}
<div class="alert alert-success">{{success}}</div>
{{/if}}
{{#if info}}
<div class="alert alert-info">{{info}}</div>
{{/if}}
<div class="col-lg-8">
<h2>STARGARDT DISEASE REGISTRY</h2>

<h2 style="margin-top: 50px">Register if you would like us to contact you about cutting edge drug trials.</h2>



<form class="details-new-form" action="/users/submit-stargardt-disease-registry
" method="post" autocomplete="on">
  <br>
  
  <div class="form-group">
    <label for="visual trouble age">At what age did you start having visual trouble?
</label>
    <input type="number" name="visualtrouble" placeholder="" class="form-control" > 
  </div>

  <div class="form-group">
    <label for="besteyevision">Back then, what was the vision of your best seeing eye (20/xxx)?</label>
    <input type="text" name="besteyevision" placeholder="" class="form-control" >
  </div>

  <div class="form-group">
    <label for="Vision Today">What is your vision today (best seeing eye, 20/xxx)? </label>
    <input type="number" id="visiontoday" name="visiontoday" class="form-control" placeholder="">
  </div> 

  <div class="form-group">
    <label for="Genetically confirmed">Have you been genetically confirmed for Stargardt (Yes/No)?</label>
    <input type="text" name="stargeneticallyconfirm" placeholder="" class="form-control" >
  </div>

  <div class="form-group">
    <label for="mutation">If yes, please provide the detected ABCA4 genetic mutation(s)</label>
    <input type="text" name="genemutation" placeholder="" class="form-control" >
  </div>

  <div class="form-group">
    <label for="opto name">Name of your ophthalmologist
</label>
    <input type="text" name="opthaname" placeholder="" class="form-control" >
  </div>
  <div class="form-group">
    <label for="opto phone and email">Contact information of your ophthalmologist (phone, email or both</label>
    <input type="text" name="opthaemail" placeholder="info@gmail.com 212-111-1111" class="form-control" >
  </div>
  <div class="form-group">
    <label for="Under 18 legal guardian">If you are under 18 years old, please enter the name of a parent or legal representative:</label>
    <input type="text" name="underlegalguardian" placeholder="" class="form-control" >
  </div>
  <div class="form-group">
    <label for="Form filled out for someone else">If you filled out this form for someone else, please enter your name here
</label>
    <input type="text" name="filledoutform" placeholder="" class="form-control" >
  </div>
  <p>Cesarcells.com takes your personal information very seriously.<br> The information you provide will only be used by Cesarcells to provide updates on clinical studies, or send other helpful news on Stargardt disease trials and research.</p>

<p>If you would like to be removed from our database, please email us at info@cesarcells.com</p>

<p>Please share this website with people you know who may have an interest in Stargardt disease.</p>

<p>By submitting this form you agree to the terms:

There is no guarantee you will be enrolled in any clinical trial
You authorize Alkeus Pharma and parties acting on its behalf to contact you</p>

  
    
      <input type="submit" value="Submit" class="btn btn-default"><br>
      

</form>
</div>
</div>
