
<div class="jumbotron-aboutus">
    <div class="wrap-aboutus-h1">
        
        <h1 class="aboutus-h1"> Helping those with <strong id="eye-diseases">Retinal Disease</strong> <br>find life changing treatments 
        <p class="what-is-sci"><strong></strong></p>
            <a href="/contact_us/contact" type="submit" class="btn btn-primary" id="main-btn">Contact</a>
        </h1> 
        
        
    </div>
</div>

<div class="row">

  <div class="col-lg-2">

  </div>
  <div class="col-lg-8">
    <h2 id="our-mission">Our mission is to make finding clinical trials easier and faster than ever before. Life changing therapies that can significantly improve the quality of life of Age Related Macular Degenration patients are oftentimes hard to find. We are pioneering new approaches to eliminate the complexity of finding said treatments.</h2> 
    
    <p class="lead about-p"> 
    Founded in 2016, CesarCells.com combines state-of-the-art research and <strong>ARMD Clinical Trials inclusion criteria</strong>. This has allowed us to advance the treating of patients in <strong> ARMD Clinical Trials </strong> at an accelerated pace. We are investigating many <strong>ARMD Clinical Trials </strong> that show the most promise for a cure.

      CesarCells.com currently has eight clinical trials to qualify for. As single trials, three are stem cell, two are drug, and three are research.  Beyond these eight clinical trials, we have a pipeline of additional clinical trials that we will be adding periodically.
    </p>
  
      <h2 style="text-align: left">Management Team</h2>
      <div class="col-md-4">
          <a href="#" class="modal-trigger" data-toggle="modal" 
          data-target="#basicModal">Vincent Porta
          <br>
          <span class="job-title">Founder, Lead Developer</span>
          </a> <br><br>
          <div class="modal modal-fullreen fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                    <h4 class="modal-title" id="myModalLabel">Leadership:</h4>
                    </div>
                    <div class="modal-body">
                        <h2 style="text-align: left">Vincent Porta</h2>
                        <span>Founder</span> <br>
                        <br>
                        <p>Vincent is the Founder of CesarCells.com, which he founded in 2016. Vincent is responsible for the overall direction, development and strategy for the company. He spent the early part of his career learning the practice of new company formation, capital raising and strategic transactions as a co-founder of the Organic Beverage Startup Hydor Tea. He holds a degree in Criminal Justice and Pre-Medical Sciences from Rutgers University, and a Graduate Certificate from Rutgers Coding Bootcamp. Vincent was a division 3 soccer athlete at Rutgers University Newark and enjoys playing soccer and reading up on technology.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                    </div>
                  </div>
              </div>
          </div>
          <a href="#" class="modal-trigger" data-toggle="modal" 
          data-target="#pavanModal">Pavan KatePelli
          <br>
          <span class="job-title">Advisor, Full Stack Developer/Tech Entrepreneur</span>
          </a> <br><br>
          <div class="modal modal-fullreen fade" id="pavanModal" tabindex="-1" role="dialog" aria-labelledby="pavanModal" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                    <h4 class="modal-title" id="myModalLabel">Leadership:</h4>
                    </div>
                    <div class="modal-body">
                        <h2 style="text-align: left">Pavan Katepelli</h2>
                        <span>Advisor</span> <br>
                        <br>
                        <p>Pavan has been with CesarCells since the beginning, and has more than 5 years of experience in Web and Mobile App development. He was the Founder of INRTracker.com, software developer at Mediamath, and instructor at Barnard college and General Assembly. He is currently Chief Learning Officer at Trilogy Education Services. Pavan holds a B.S. in Mathematics from Rutgers University and is a self taught programmer</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                    </div>
                  </div>
              </div>
          </div>
          <a href="#" class="modal-trigger" data-toggle="modal" 
          data-target="#angelaModal">Angela Gonzalez
          <br>
          <span class="job-title">Medical Advisor, Medical Student/ARMD Researcher</span>
          </a> <br> <br>
          <div class="modal modal-fullreen fade" id="angelaModal" tabindex="-1" role="dialog" aria-labelledby="angelaModal" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button>
                    <h4 class="modal-title" id="myModalLabel">Leadership:</h4>
                    </div>
                    <div class="modal-body">
                        <h2 style="text-align: left">Angela Gonzalez</h2>
                        <span>Advisor</span> <br>
                        <br>
                        <p>cebcicbiwbcbweicbwbciwbcbi</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-2">

  </div>
</div>